/* 单品正文 S */
/*  曼特宁咖啡  */
.content .row {
	height: 600px;
	background-image: url(../images/coffee/120134wbbdp02jnqkgq45.jpg.png);
	background-position: middle bottom;
}
.content .row .coffee {
	font-size: 50px;
	color :#92c776;
	margin-left: 765px;
    padding-top: 15px;
    height: 60px;
	font-family: 华文行楷;
}
.content .row ul {
	display: inline-block;
	font-size: 16px;
	letter-spacing: 2.5px;
	height: 300px;
	width: 590px;
	margin-top: 75px;
	color: #d79500;
	text-indent: 2em;
	float: right;
}
.content .row li {
	display: inline-block;
	line-height: 2.5;
}
.content .row span {
	display: inline-block;
	color :#605050;
	font-size: 22px;
	float: left;
    margin-left: 225px;
    padding-top: 336px;;
}
.content span p {
	display: inline-block;
	color: #47cb7d;
	font-size: 35px;
}
.content .row .shop	{
	width: 145px;
	height: 46px;
	background-color: #8f533e;
	text-align: center;
	line-height: 46px;
	border-radius: 10px;
	display: inline-block;
	border: 2px solid #8f533e;
    float: left;
    margin-top: 410px;
    margin-left: -156px;
}
.content .shop a {
	font-size: 22px;
	color: #fff;
}
/* 单品正文 E */