/*清除标签默认内外边距*/
body,p,ul,ol,li,h1,h2,h3,h4,h5,h6,table,tr,td,dl,dt,dd {
	padding:0px;
	margin:0px;
}

/*清除超链接下划线*/
a {
	text-decoration: none;
}
/*清除图片底部缝隙*/
img {
	vertical-align:middle;
}
/*清除无序列表前的圆点*/
ul {
	list-style:none;
}