<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Coffee menu</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/coffee_danpin_index.css">
			<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/icon1.ico">
</head>
<body>
	<!-- 头部 header S -->
	<div class="header">
		<!-- 头部导航 S-->
		<div class="nav clearfix container">
			<div class="nleft">
				宿迁
				<a href="#" class="nposition">切换城市</a>[
				<a href="#">睢宁</a>
				<a href="#">泗阳</a>
				<a href="#">新沂</a> ]
				<a href="../login/login.html" class="nlogin">立即登录</a>
				<a href="../login/zc.html">注册</a>
			</div>
			<div class="nright">
				<ul class="clearfix">
					<li class="nmy"><a href="#">我的美团</a>
						<ul>
							<li><a href="../login/login.html" target="_blank">我的订单</a></li>
							<li><a href="../login/login.html" target="_blank">我的评价</a></li>
							<li><a href="../login/login.html" target="_blank">我的收藏</a></li>
							<li><a href="../login/login.html" target="_blank">抵用券</a></li>
							<li><a href="../login/login.html" target="_blank">账户设置</a></li>
						</ul>
					</li>
					<li><a href="#">手机APP</a></li>
					<li class="ntrade"><a href="#">商家中心</a>
						<div class="nline"></div>
						<ul>
							<li><a href="#">登录商家中心</a></li>
							<li><a href="shangjia.html">我想合作</a></li>
							<li><a href="#">手机免费开店</a></li>
							<li><a href="#">餐饮代理商招募</a></li>
							<li><a href="#">商家申请开票</a></li>
						</ul>
					</li>
					<li class="wzdh">网站导航
						<div class="nline_"></div>
						<div class="navmenu clearfix">
							<dl class="hotel">
								<dt>酒店旅游</dt>
								<dd><a href="mtjd.html">酒店</a></dd>
								<dd><a href="mtjd.html">高端酒店</a></dd>
								<dd><a href="mtjd.html">主题酒店</a></dd>
								<dd><a href="mtjd.html">青年旅社</a></dd>
								<dd><a href="mtjd.html">客栈</a></dd>
								<dd><a href="#">周边游</a></dd>
								<dd><a href="#">景点门票</a></dd>
								<dd><a href="#">温泉</a></dd>
								<dd><a href="#">农家乐</a></dd>
								<dd><a href="#">公园游乐园</a></dd>
								<dd><a href="#">跟团游</a></dd>
								<dd><a href="#">国内游</a></dd>
								<dd><a href="#">境外游</a></dd>
								<dd><a href="#">签证</a></dd>
							</dl>
							<dl class="cate">
								<dt>吃美食</dt>
								<dd><a href="#">美食</a></dd>
								<dd><a href="#">特色小吃</a></dd>
								<dd><a href="#">烧烤</a></dd>
								<dd><a href="#">自助餐</a></dd>
								<dd><a href="#">火锅</a></dd>
								<dd><a href="#">代金券</a></dd>
							</dl>
							<dl>
								<dt>看电影</dt>
								<dd><a href="#">热映电影</a></dd>
							</dl>
							<dl class="app">
								<dt>手机应用</dt>
								<dd><a href="../index.html"><img src="../images/index/meituan.png" alt=""></a></dd>
								<dd><a href="waimai.html"><img src="../images/index/waimai.png" alt=""></a></dd>
								<dd><a href="#"><img src="../images/index/zhenguo.png" alt=""></a></dd>
								<dd><a href="hezuo.html"><img src="../images/index/dianping.png" alt=""></a></dd>
								<dd><a href="#"><img src="../images/index/maoyan.png" alt=""></a></dd>
							</dl>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- 头部导航 E -->
		<div class="head_ clearfix">
			<div class="container clearfix">
				<!-- logo -->
				<div class="logo">
					<a href="coffee.html"><img src="../images/index/logo.png" alt=""></a>
				</div>
				<!-- 搜索 -->
				<div class="search">
					<div class="search-block">
						<input type="text" name="" id="search" placeholder="搜索商家或地点" onclick ="xianshi()" >
						<button></button>
						<dl id="search_hot">
							<dt>热门搜索</dt>
							<dd><a href="#">金滏山自助烤肉美食中心</a></dd>
							<dd><a href="#">过路人台湾饭团</a></dd>
							<dd><a href="#">七欣天品蟹轩</a></dd>
							<dd><a href="#">项妃鸭</a></dd>
						</dl>
					</div>
					<div class="search-word">
						<a href="#">金滏山自助烤肉美食中心</a><a href="#">过路人台湾饭团</a><a href="#">七欣天品蟹轩</a><a href="#">项妃鸭</a><a href="#">欢乐牧场自助餐厅</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 头部 header E -->

	<!-- 照片部分  S  1 -->
	<div class="navimg">
		<div class="container">
			<a href="#"><img src="../images/coffee/coffee1.png" alt=""></a>
			<div class="single">
				<a href="coffee_xiaodanpin4.html">皇家特级蓝山</a> <br>
				Speclal blue mountain coffee <br>
				<a href="coffee_xiaodanpin.html">皇家蓝山咖啡</a> <br>
				Blue mountain coffee <br>
				<a href="coffee_xiaodanpin1.html">有机摩卡咖啡</a> <br>
				Mocha coffee <br>
				<a href="coffee_xiaodanpin2.html">有机曼特宁咖啡</a> <br>
				Mandeling coffee <br>
				<a href="coffee_xiaodanpin.html">有机爪哇咖啡</a> <br>
				Lavao coffee <br>
				<a href="coffee_xiaodanpin1.html">巴西咖啡</a> <br>
				Brazil coffee <br>
				<a href="coffee_xiaodanpin2.html">炭烧咖啡</a> <br>
				Charcoal roast coffee <br>
				<a href="coffee_xiaodanpin.html">哥伦比亚咖啡</a> <br>
				Colunbia coffee <br>
				<a href="coffee_xiaodanpin1.html">意大利咖啡</a> <br>
				Espresso coffee 
			</div>
		</div>
	</div>
	<!-- 照片部分  E  -->

	<!-- 照片部分  S  2 -->
	<div class="navimg">
		<div class="container">
			<a href="coffee_xiaodanpin3.html"><img src="../images/coffee/coffee10.png" alt=""></a>
			<div class="single">
				<a href="coffee_xiaodanpin3.html">花生奶茶</a>  <br>
				Peanut milk tea <br>
				<a href="coffee_xiaodanpin2.html">玫瑰奶茶</a> <br>
				Rose milk tea<br>
				<a href="coffee_xiaodanpin1.html">柠檬奶茶</a> <br>
				Lemon milk tea <br>
				<a href="coffee_xiaodanpin4.html">红枣奶茶</a> <br>
				Red date milk tea <br>
				<a href="coffee_xiaodanpin3.html">伯爵奶茶</a> <br>
				Earl gray milk tea 
			</div>
		</div>
	</div>
	<!-- 照片部分  E  -->

	<!-- 照片部分  S  3 -->
	<!-- 花式咖啡 -->
	<div class="navimg">
		<div class="container">
			<a href="#"><img src="../images/coffee/coffee8.png" alt=""></a>
			<div class="single coffee">
				<a href="#">卡布基诺咖啡</a> <br>
				Cappucclno coffe <br> 
				<a href="#">维也纳咖啡</a> <br>
				Vienna coffee  <br>
				<a href="#">椰香咖啡</a> <br>
				Coconut coffee <br>
				<a href="#">杏仁咖啡</a> <br>
				Almond coffee <br>
				<a href="#">抹茶咖啡</a> <br>
				Marcha coffee <br>
				<a href="#">草莓咖啡</a>     <br>
				Strawberry coffee   
			</div>
			<div class="single csingle">
				<a href="#">诱惑咖啡</a>		<br>
				Rose coffee <br>
				<a href="#">凤梨咖啡</a> <br>
				Hawail coffee <br>
				<a href="#">薄荷咖啡</a>  <br>
				Peppermint coffee  <br> 
				<a href="#">烈巧克力咖啡</a>    <br>
				Hot chocolate coffee    <br>                
				<a href="#">拿铁咖啡</a>          <br>
				Cafe late coffee  
			</div>
		</div>
	</div>
	<!-- 照片部分  E  -->

	<!-- 照片部分  S  4 -->
	<div class="navimg">
		<div class="container">
			<a href="#"><img src="../images/coffee/coffee2.png" alt=""></a>
			<div class="single">
				<a href="#">罗马假日咖啡</a> <br>
				Roma holldouy coffee <br>
				<a href="#">贵夫人咖啡</a>  <br>
				Moble women coffee  <br>
				<a href="#">爱尔兰咖啡</a>  <br>
				Lrish coffee <br>
				<a href="#">情人咖啡</a> <br>
				Valentines coffee <br>
				<a href="#">干邑咖啡</a> <br>
				Gan yi coffee <br>
				<a href="#">皇家咖啡</a>  <br>
				Coffee royal
			</div>
		</div>
	</div>
	<!-- 照片部分  E  -->

	<!-- 照片部分  S  5 -->
	<div class="navimg">
		<div class="container">
			<a href="#"><img src="../images/coffee/coffee17.png" alt=""></a>
			<div class="single">
				<a href="#">三色冰淇淋 </a>       <br>                  
				Triple taste ice cream   <br>                
				<a href="#">酸奶布丁冰淇淋</a>          <br>             
				Yoghurt pudding ice cream     <br>         
				<a href="#">香蕉船冰淇淋</a>                   <br>       
				Banana split ice cream        <br>           
				<a href="#">水果圣代冰淇淋</a>                  <br>     
				Fruit sundae                   <br>        
				<a href="#">特制圣代冰淇淋</a>                  <br>      
				Special sundae in purple baby styie  
			</div>
		</div>
	</div>
	<!-- 照片部分  E  -->

	<!-- 照片部分  S  6 -->
	<div class="navimg">
		<div class="container">
			<a href="#"><img src="../images/coffee/coffee11.png" alt=""></a>
			<div class="single">
				<a href="#">可可冰咖啡</a> <br>
				Lced cocoa coffee <br>
				<a href="#">珍珠冰咖啡</a> <br>
				Lced pearl coffee <br>
				<a href="#">漂浮冰咖啡</a> <br>
				Lced floating coffee <br>
				<a href="#">布丁冰咖啡</a> <br>
				Lced pudding coffee <br>
				<a href="#">蜜豆冰咖啡</a> <br>
				Lced bean honey coffee <br>
				<a href="#">西米冰咖啡</a> <br>
				Lced sago coffee 
			</div>
		</div>
	</div>
	<!-- 照片部分  E  -->

	<!-- 照片部分  S  7 -->
	<div class="navimg">
		<div class="container">
			<a href="#"><img src="../images/coffee/coffee15.png" alt=""></a>
			<div class="single">
				<a href="#">草莓雪泡</a>  <br>
				<a href="#">鲜果红枣雪</a>
			</div>
		</div>
	</div>
	<!-- 照片部分  E  -->

	<!-- 照片部分  S  8 -->
	<div class="navimg">
		<div class="container">
			<a href="#"><img src="../images/coffee/coffee1.png" alt=""></a>
			<div class="single">
				<a href="#">皇家特级蓝山</a> <br>
				Speclal blue mountain coffee <br>
				<a href="#">皇家蓝山咖啡</a> <br>
				Blue mountain coffee <br>
				<a href="#">有机摩卡咖啡</a> <br>
				Mocha coffee <br>
				<a href="#">有机曼特宁咖啡</a> <br>
				Mandeling coffee <br>
				<a href="#">有机爪哇咖啡</a> <br>
				Lavao coffee <br>
				<a href="#">巴西咖啡 </a><br>
				Brazil coffee <br>
				<a href="#">炭烧咖啡</a> <br>
				Charcoal roast coffee <br>
				<a href="#">哥伦比亚咖啡</a> <br>
				Colunbia coffee <br>
				<a href="#">意大利咖啡</a> <br>
				Espresso coffee 
			</div>
		</div>
	</div>
	<!-- 照片部分  E  -->

	<!-- 照片部分  S  9 -->
	<div class="navimg">
		<div class="container">
			<a href="#"><img src="../images/coffee/coffee16.png" alt=""></a>
			<div class="single">
				<a href="#">巧克力松饼</a> <br>
				Chocolate muffin <br>
				<a href="#">花生松饼 </a> <br>
				Peanuty muffin <br>
				<a href="#">草莓松饼</a> <br>
				Strawberry muffin <br>
				<a href="#">奶油芝麻松饼 </a> <br>
				Cream muffin <br>
				<a href="#">蜂蜜松饼</a> <br>
				Honey muffin 
			</div>
		</div>
	</div>
	<!-- 照片部分  E  -->

	<!-- 照片部分  S  10 -->
	<div class="navimg">
		<div class="container">
			<a href="#"><img src="../images/coffee/coffee1.png" alt=""></a>
			<div class="single">
				<a href="#">皇家特级蓝山</a> <br>
				Speclal blue mountain coffee <br>
				<a href="#">皇家蓝山咖啡</a> <br>
				Blue mountain coffee <br>
				<a href="#">有机摩卡咖啡</a> <br>
				Mocha coffee <br>
				<a href="#">有机曼特宁咖啡</a> <br>
				Mandeling coffee <br>
				<a href="#">有机爪哇咖啡</a> <br>
				Lavao coffee <br>
				<a href="#">巴西咖啡</a> <br>
				Brazil coffee <br>
				<a href="#">炭烧咖啡</a> <br>
				Charcoal roast coffee <br>
				<a href="#">哥伦比亚咖啡</a> <br>
				Colunbia coffee <br>
				<a href="#">意大利咖啡</a> <br>
				Espresso coffee 
			</div>
		</div>
	</div>
	<!-- 照片部分  E  -->

	<!-- 照片部分  S  11 -->
	<div class="navimg">
		<div class="container">
			<a href="#"><img src="../images/coffee/coffee5.png" alt=""></a>
			<div class="single">
				<a href="#">糖包</a>	<br>
				<a href="#">冰糖</a><br>
				<a href="#">蜂蜜</a><br>
				<a href="#">奶粒</a><br>
				<a href="#">煎蛋</a><br>
			</div>
			<div class="rsingle">
				<a href="#">米饭</a><br>
				<a href="#">小菜</a><br>
				<a href="#">可乐</a><br>
				<a href="#">雪碧</a><br>
				<a href="#">苏打</a>水 
			</div>
		</div>
	</div>
	<!-- 照片部分  E  -->

	<!-- 底部开始 footer 部分 S -->
	<div class="footer"onclick="out()">
		<div class="container clearfix">
			<div class="fone">
				<dl>
					<dt>用户帮助</dt>
					<dd><a href="#">美团承诺</a></dd>
					<dd><a href="#">购物保障</a></dd>
					<dd><a href="#">申请退款</a></dd>
					<dd><a href="#">查看美团券密码</a></dd>
					<dd><a href="#">常见问题</a></dd>
					<dd><a href="#">用户协议</a></dd>
					<dd><a href="#">隐私政策</a></dd>
					<dd><a href="#">反诈骗公告</a></dd>
				</dl>
				<dl>
					<dt>美团服务</dt>
					<dd><a href="#">美团外卖</a></dd>
					<dd><a href="#">猫眼电影</a></dd>
					<dd><a href="#">美团云</a></dd>
					<dd><a href="#">大众点评</a></dd>
					<dd><a href="#">榛果民宿</a></dd>
				</dl>
			</div>
			<div class="ftwo">
				<dl>
					<dt>商家合作</dt>
					<dd><a href="#">美食商家入驻（非外卖）</a></dd>
					<dd><a href="#">外卖商家入驻</a></dd>
					<dd><a href="#">酒店商家入驻</a></dd>
					<dd><a href="#">境内度假商家入驻</a></dd>
					<dd><a href="#">综合商家入驻</a></dd>
					<dd><a href="#">榛果民宿房东商家入驻</a></dd>
					<dd><a href="#">点餐秒付合作申请</a></dd>
					<dd><a href="#">美团点评智能收银机</a></dd>
					<dd><a href="#">聚宝盆餐饮开放平台</a></dd>
					<dd><a href="#">美团智能支付</a></dd>
				</dl>
			</div>
		
			<div class="fthree">
				<dl>
					<dt>代理商加盟</a></dt>
					<dd><a href="#">到店餐饮代理商招募</a></dd>
					<dd><a href="#">非餐饮代理商招募</a></dd>
					<dd><a href="#">美团联盟</a></dd>
				</dl>
				<dl>
					<dt>行业规范</dt>
					<dd><a href="#">美团点评餐饮安全管理办法</a></dd>
				</dl>
				<dl>
					<dt>廉正举报</dt>
					<dd><a href="#">廉正邮箱</a></dd>
				</dl>
			</div>

			<div class="ffour">
				<dl>
					<dt>关注美团</dt>
					<dd><a href="#">美团新浪微博</a></dd>
				</dl>


				<dl>
					<dt>关于美团</dt>
					<dd><a href="#">媒体报道</a></dd>
				</dl>
				<dl>
					<dt>公司信息</dt>
					<dd><a href="#">加入我们</a></dd>
					<dd><a href="#">法律声明</a></dd>
					<dd><a href="#">商户服务协议</a></dd>
				</dl>	
			</div>		
			<div class="ffive">
				<p class="ftitle">客服电话</p>
				<p class="fphone">10107888</p>
				<p class="ftime">（9:00-23:00）</p>
			</div>
		</div>
	</div>
	<!-- 底部开始 footer 部分 E -->

	<!-- 底部版权开始 footer 部分 S -->
	<div class="footer-copy container "onclick="out()">
			<div class="fcopy-left">
				<p>©美团网团购 meituan.com <a href="#">京ICP证070791号</a><a href="#"> 京ICP备10211739号</a> <a href="#">电子公告服务规则</a></p>
				<p><a href="#">广播电视节目制作经营许可证（京）字第03889号</a></p>
			</div>
			<div class="fcopy-right">
				<p><a href="#">京公网安备11010502025545号</a></p>
			</div>
	</div>
	<!-- 底部版权开始 footer 部分 E -->
</body>
</html>