<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>咖啡文化——咖啡之翼</title>
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/coffee_jianjie.css">
			<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/icon1.ico">
</head>
<body>
	<!-- 头部 header S -->
	<div class="header">
		<!-- 头部导航 S-->
		<div class="nav clearfix container">
			<div class="nleft">
				宿迁
				<a href="#" class="nposition">切换城市</a>[
				<a href="#">睢宁</a>
				<a href="#">泗阳</a>
				<a href="#">新沂</a> ]
				<a href="../login/login.html" class="nlogin">立即登录</a>
				<a href="../login/zc.html">注册</a>
			</div>
			<div class="nright">
				<ul class="clearfix">
					<li class="nmy"><a href="#">我的美团</a>
						<ul>
							<li><a href="../login/login.html" target="_blank">我的订单</a></li>
							<li><a href="../login/login.html" target="_blank">我的评价</a></li>
							<li><a href="../login/login.html" target="_blank">我的收藏</a></li>
							<li><a href="../login/login.html" target="_blank">抵用券</a></li>
							<li><a href="../login/login.html" target="_blank">账户设置</a></li>
						</ul>
					</li>
					<li><a href="#">手机APP</a></li>
					<li class="ntrade"><a href="#">商家中心</a>
						<div class="nline"></div>
						<ul>
							<li><a href="#">登录商家中心</a></li>
							<li><a href="shangjia.html">我想合作</a></li>
							<li><a href="#">手机免费开店</a></li>
							<li><a href="#">餐饮代理商招募</a></li>
							<li><a href="#">商家申请开票</a></li>
						</ul>
					</li>
					<li class="wzdh">网站导航
						<div class="nline_"></div>
						<div class="navmenu clearfix">
							<dl class="hotel">
								<dt>酒店旅游</dt>
								<dd><a href="mtjd.html">酒店</a></dd>
								<dd><a href="mtjd.html">高端酒店</a></dd>
								<dd><a href="mtjd.html">主题酒店</a></dd>
								<dd><a href="mtjd.html">青年旅社</a></dd>
								<dd><a href="mtjd.html">客栈</a></dd>
								<dd><a href="#">周边游</a></dd>
								<dd><a href="#">景点门票</a></dd>
								<dd><a href="#">温泉</a></dd>
								<dd><a href="#">农家乐</a></dd>
								<dd><a href="#">公园游乐园</a></dd>
								<dd><a href="#">跟团游</a></dd>
								<dd><a href="#">国内游</a></dd>
								<dd><a href="#">境外游</a></dd>
								<dd><a href="#">签证</a></dd>
							</dl>
							<dl class="cate">
								<dt>吃美食</dt>
								<dd><a href="#">美食</a></dd>
								<dd><a href="#">特色小吃</a></dd>
								<dd><a href="#">烧烤</a></dd>
								<dd><a href="#">自助餐</a></dd>
								<dd><a href="#">火锅</a></dd>
								<dd><a href="#">代金券</a></dd>
							</dl>
							<dl>
								<dt>看电影</dt>
								<dd><a href="#">热映电影</a></dd>
							</dl>
							<dl class="app">
								<dt>手机应用</dt>
								<dd><a href="../index.html"><img src="../images/index/meituan.png" alt=""></a></dd>
								<dd><a href="waimai.html"><img src="../images/index/waimai.png" alt=""></a></dd>
								<dd><a href="#"><img src="../images/index/zhenguo.png" alt=""></a></dd>
								<dd><a href="hezuo.html"><img src="../images/index/dianping.png" alt=""></a></dd>
								<dd><a href="#"><img src="../images/index/maoyan.png" alt=""></a></dd>
							</dl>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- 头部导航 E -->
		<div class="head_ clearfix">
			<div class="container clearfix">
				<!-- logo -->
				<div class="logo">
					<a href="coffee.html"><img src="../images/index/logo.png" alt=""></a>
				</div>
				<!-- 搜索 -->
				<div class="search">
					<div class="search-block">
						<input type="text" name="" id="search" placeholder="搜索商家或地点"  >
						<button></button>
						<dl id="search_hot">
							<dt>热门搜索</dt>
							<dd><a href="#">金滏山自助烤肉美食中心</a></dd>
							<dd><a href="#">过路人台湾饭团</a></dd>
							<dd><a href="#">七欣天品蟹轩</a></dd>
							<dd><a href="#">项妃鸭</a></dd>
						</dl>
					</div>
					<div class="search-word">
						<a href="#">金滏山自助烤肉美食中心</a><a href="#">过路人台湾饭团</a><a href="#">七欣天品蟹轩</a><a href="#">项妃鸭</a><a href="#">欢乐牧场自助餐厅</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 头部 header E -->

	<!-- 咖啡之翼的简介头部 S -->
	<div class="jianjie">
		<!-- 咖啡之翼商标 -->
		<div class="logo">
			<!-- 透明部分 -->
			<div class="bgc">
				<div class="container">
					<h1>
						<p class="more">了解更多关于咖啡的一切</p>
						咖啡文化
					</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- 咖啡之翼的简介头部 E -->

	<!-- 咖啡之翼  content  S  -->
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="buju">
					<div class="coffee">
						<h2>咖啡文化</h2>
					</div>
					<div class="cjianjie">
						<!-- 咖啡历史 -->
						<div class="history">
							<div class="cimg">
								<a href="#"><img src="../images/coffee/coffeeqiyuan2.jpg" alt=""></a>
							</div>	
							<div class="chistory">
								<h3><a href="#">咖啡历史</a></h3>
								<span><a href="#">咖啡的历史与咖啡的酿制方式，有着同样丰富的内容。它可以追溯到一千多年以前。</a></span>
							</div>
						</div>
					</div>
					<div class="cjianjie">
						<!-- 咖啡历史 -->
						<div class="history">
							<div class="cimg">
								<a href="#"><img src="../images/coffee/coffeeqiyuan7.jpg" alt=""></a>
							</div>	
							<div class="chistory">
								<h3><a href="#">咖啡介绍</a></h3>
								<span><a href="#">“咖啡”一词源自希腊语“Kaweh”。日常饮用的咖啡是用咖啡豆配合各种不同的烹煮器具制作出来的，而咖啡豆就是指咖啡树果实內之果仁，再用适当的烘焙方法烘焙而成。可追溯千年之久远！</a></span>
							</div>
						</div>
					</div>
					<div class="cjianjie">
						<!-- 咖啡历史 -->
						<div class="history">
							<div class="cimg">
								<a href="#"><img src="../images/coffee/coffeeqiyuan9.jpg" alt=""></a>
							</div>	
							<div class="chistory">
								<h3><a href="#">咖啡成分</a></h3>
								<span><a href="#">咖啡因、丹宁酸、脂肪、蛋白质、糖类、矿物质、<br>纤维：生豆的纤维烘焙后会炭化，与焦糖互相结合便形成咖啡的色调。</a></span>
							</div>
						</div>
					</div>
					<div class="cjianjie">
						<!-- 咖啡历史 -->
						<div class="history">
							<div class="cimg">
								<a href="#"><img src="../images/coffee/coffeeqiyuan18.jpg" alt=""></a>
							</div>	
							<div class="chistory bean">
								<h3><a href="#">咖啡加工</a></h3>
								<span><a href="#">烘烤过的咖啡豆：<a href="#">去皮</a> --> <a href="#">发酵</a> --> <a href="#">干燥</a> --> <a href="#">烘焙</a></a></span>
							</div>
						</div>
					</div>
					<div class="cjianjie">
						<!-- 咖啡历史 -->
						<div class="history">
							<div class="cimg">
								<a href="#"><img src="../images/coffee/coffeeqiyuan14.jpg" alt=""></a>
							</div>	
							<div class="chistory bean">
								<h3><a href="#">咖啡豆的种类</a></h3>
								<span><a href="#">三个原种为：<a href="#">阿拉比卡</a>、<a href="#">罗布斯塔</a>、<a href="#">赖比瑞卡</a></a></span>
							</div>
						</div>
					</div>					
					<div class="cjianjie">
						<!-- 咖啡历史 -->
						<div class="history">
							<div class="cimg">
								<a href="#"><img src="../images/coffee/jianjie1.jpg" alt=""></a>
							</div>	
							<div class="chistory bean">
								<h3><a href="#">咖啡饮品种类</a></h3>
								<span><a href="#">黑咖啡</a>、<a href="#">白咖啡</a>、<a href="#">加味咖啡</a>、<a href="#">意式浓缩咖啡</a>、<a href="#">卡布奇诺</a>、<a href="#">玛奇朵</a>、<a href="#">拿铁咖啡</a>、<a href="#">摩卡咖啡</a>、<a href="#">美式咖啡</a>、<a href="#">爱尔兰咖啡</a>、<a href="#">维也纳咖啡</a>、<a href="#">越南咖啡</a>、<a href="#">曼特宁咖啡</a>、<a href="#">冰咖啡</a>、</span>
							</div>
						</div>
					</div>
					<div class="cjianjie">
						<!-- 咖啡历史 -->
						<div class="history">
							<div class="cimg">
								<a href="#"><img src="../images/coffee/coffeeqiyuan11.jpg" alt=""></a>
							</div>	
							<div class="chistory bean">
								<h3><a href="#">咖啡磨制</a></h3>
								<span><a href="#">咖啡豆的磨制有三类方法：<a href="#">“研磨”</a>、<a href="#">“打磨”</a>和<a href="#">“臼磨”</a>。</a></span>
							</div>
						</div>
					</div>
					<div class="cjianjie">
						<!-- 咖啡历史 -->
						<div class="history">
							<div class="cimg">
								<a href="#"><img src="../images/coffee/coffeeqiyuan5.jpg" alt=""></a>
							</div>	
							<div class="chistory bean">
								<h3><a href="#">咖啡烹煮</a></h3>
								<span>根据水和咖啡末的接触方式，咖啡的烹制归类为五种：<a href="#">“泡煮法”</a>、<a href="#">“加压法”</a>、<a href="#">“重力法”</a>、<a href="#">“浸滤法”</a>、<a href="#">“冰酿法”</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
	<!-- 咖啡之翼  content  E  -->

	<!-- page-footer S -->
	<div class="page-footer">
		<div class="container">
			<div class="item clearfix">
				<div class="item-title">
					<a href="#">最新资讯</a>
				</div>
				<div class="item-content">
					<a href="#">当季新品</a><br>
					<a href="#">咖啡融合冰淇淋</a><br>
					<a href="#">烘焙系列 </a><br>
					<a href="#">气致™冷萃咖啡</a><br>
					<a href="#">早安新一天</a>
				</div>
			</div>
			<div class="item clearfix">
				<div class="item-title">
					<a href="#">菜单</a>
				</div>
				<div class="item-content">
					<a href="#">饮品</a><br>
					<a href="#">加味奶茶</a><br>
					<a href="#">花式咖啡</a><br>
					<a href="#">单点</a><br>
					<a href="#">特调鲜果茶</a>
				</div>
			</div>
			<div class="item clearfix">
				<div class="item-title">
					<a href="#">翼之卡</a>
				</div>
				<div class="item-content">
					<a href="#">登录帐户</a><br>
					<a href="#">注册翼之卡</a><br>
					<a href="#">忘记密码</a><br>
					<a href="#">报失翼之卡</a><br>
					<a href="#">购买翼之卡</a>
				</div>
			</div>
			<div class="item last-child clearfix">
				<div class="item-title">
					<a href="#">咖啡之翼礼品卡</a>
				</div>
				<div class="item-content">
					<a href="#">管理翼之卡</a><br>
					<a href="#">申请发票</a><br>
					<a href="#">购买翼之卡</a>
				</div>
			</div>
		</div>
	</div>
	<!-- page-footer E -->

	<!-- 底部版权开始 footer 部分 S -->
	<div class="footer-copy"onclick="out()">
		<div class="container clearfix">
			<div class="fcopy-left">
				<p>©美团网团购 meituan.com <a href="#">京ICP证070791号</a><a href="#"> 京ICP备10211739号</a> <a href="#">电子公告服务规则</a></p>
				<p><a href="#">广播电视节目制作经营许可证（京）字第03889号</a></p>
			</div>
			<div class="fcopy-right">
				<p><a href="#">京公网安备11010502025545号</a></p>
			</div>
		</div>
	</div>
	<!-- 底部版权开始 footer 部分 E -->
</body>
</html>