<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/ganenjie.css">
			<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/icon1.ico">
	<title>感恩节七组专栏</title>
</head>
<body>
	<!-- 头部标签图 S -->
	<div class="header container clearfix">
		<div class="headerimg ">
			<a href="../index.html"><img src="../images/index/logo.png" alt=""></a>
			<p>感恩节七组专栏</p>

		</div>

	</div>
	<!-- 头部标签图 E -->

	<!-- 设置文字和图标 S -->
	<div class="container bei">
		<!-- 文字 -->
		<h2>森罗七组</h2>
		<p>传智专修学院全栈一班七组</p>
		<p>森罗万象，相由心生，心无疆界，路无尽头。</p>
		<!-- 设置图标 s -->
		<div class="ul clearfix">
			<div class="l1">
				<a href="../ganenjie/cxb.html">
				<div class="u">
					<div class="jj">
						<span>曹晓波</span>
						<p>职位：组长（项目经理）</p>
						<a href="../ganenjie/cxb.html">
							<p class="a1">感恩，我想说...</p>
						</a>
					</div>
				</div>
				</a>
			</div>
			
			<div class="l2">
				<a href="../ganenjie/zxx.html">
				<div class="u">
					<div class="jj">
						<span>张晓旭</span>
						<p>职位：组员（设计师兼技术开发）</p>
						<a href="../ganenjie/zxx.html" >
							<p class="a1">感恩，我想说...</p>
						</a>
					</div>
				</div>
				</a>
			</div>
			
			<div class="l3">
				<a href="../ganenjie/rgf.html">
				<div class="u">
					<div class="jj">
						<span>任广发</span>
						<p>职位：组员（技术开发）</p>
						<a href="../ganenjie/rgf.html" >
							<p class="a1">感恩，我想说...</p>
						</a>
					</div>
				</div>
				</a>
			</div>

			<div class="l4">
				<a href="../ganenjie/hc.html">
				<div class="u">
					<div class="jj">
						<span>怀闯</span>
						<p>职位：组员（质检兼技术开发）</p>
						<a href="../ganenjie/hc.html" >
							<p class="a1">感恩，我想说...</p>
						</a>
					</div>
				</div>
				</a>
			</div>

			<div class="l5">
				<a href="../ganenjie/pws.html">
				<div class="u">
					<div class="jj">
						<span>彭文双</span>
						<p>职位：组员（技术开发）</p>
						<a href="../ganenjie/pws.html" >
							<p class="a1">感恩，我想说...</p>
						</a>
					</div>
				</div>
				</a>
			</div>

			<div class="l6">
				<a href="../ganenjie/wjx.html">
				<div class="u">
					<div class="jj">
						<span>王景笑</span>
						<p>职位：组员（技术开发兼美工）</p>
						<a href="../ganenjie/wjx.html" >
							<p class="a1">感恩，我想说...</p>
						</a>
					</div>
				</div>
				</a>
			</div>

		</div>
	</div>
	<!-- 设置图标 e -->
	<!-- 设置文字和图标 E -->


	
	<!-- 最后的超链接 S -->
	<div class="footer clearfix container">
		<div class="one container clearfix">
			<a href="#">关于美团|</a>&nbsp;&nbsp;&nbsp;
			<a href="#">美团承诺|</a>&nbsp;&nbsp;&nbsp;
			<a href="#">购物保障|</a>&nbsp;&nbsp;&nbsp;
			<a href="#">媒体报道|</a>&nbsp;&nbsp;&nbsp;
			<a href="#">常见问题</a>&nbsp;&nbsp;&nbsp;
		</div>
		<div class="two container">
			<p>©2016 meituan.com京ICP证070791号</p>
		</div>
	</div>
	<!-- 最后的超链接 E -->
</body>
</html>