<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/common.css">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/hezuo.css">
			<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/icon1.ico">
	<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/dzdp.ico">
	<title>合作介绍页</title>
</head>
<body>
	<!-- 头部 S -->
	<div class="header clearfix">
		<a href="shangjia.html"><img src="../images/shangjia/sprite-logo.png" alt=""></a>
		<h2>·商户中心</h2>
	</div>
	<!-- 头部 E -->
	<!-- 中间内容 S -->
	<div class="daibaio">
		<div class="content">
			<div class="hezuo">
				<a href="shangjia.html">我要合作</a>
			</div>
		</div>
		<div class="title">
			<span>合作商户代表</span>
		</div>
		<div class="mas" container></div>
	</div>
	<!-- 中间内容 E -->
</body>
</html>