<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>火车时刻表_动车高铁时刻表_火车余票查询预定-美团火车票</title>
	<!-- 引入外部样式	通用common.css -->
	<link rel="stylesheet" href="../css/common.css">
	<!-- 引入外部样式	清除reset.css -->
	<link rel="stylesheet" href="../css/reset.css">
	<!-- 引入外部样式	首页index.css -->
	<link rel="stylesheet" href="../css/huoche.css">
			<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/icon1.ico">
</head>
<body>
	<!-- 美团首页头部 header 部分 S -->
	<div class="header">
		<!-- 头部导航 S-->
		<div class="nav clearfix container">
			<div class="nleft">
				宿迁
				<a href="#" class="nposition">切换城市</a>[
				<a href="#">睢宁</a>
				<a href="#">泗阳</a>
				<a href="#">新沂</a> ]
				<a href="../login/login.html" class="nlogin">立即登录</a>
				<a href="../login/login.html">注册</a>
			</div>
			<div class="nright">
				<ul class="clearfix">
					<li class="nmy"><a href="#">我的美团</a>
						<ul>
							<li><a href="../login/login.html" target="_blank">我的订单</a></li>
							<li><a href="../login/login.html" target="_blank">我的评价</a></li>
							<li><a href="../login/login.html" target="_blank">我的收藏</a></li>
							<li><a href="../login/login.html" target="_blank">抵用券</a></li>
							<li><a href="../login/login.html" target="_blank">账户设置</a></li>
						</ul>
					</li>
					<li><a href="#">手机APP</a></li>
					<li class="ntrade"><a href="#">商家中心</a>
						<div class="nline"></div>
						<ul>
							<li><a href="#">登录商家中心</a></li>
							<li><a href="shangjia.html">我想合作</a></li>
							<li><a href="#">手机免费开店</a></li>
							<li><a href="#">餐饮代理商招募</a></li>
							<li><a href="#">商家申请开票</a></li>
						</ul>
					</li>
					<li class="wzdh">网站导航
						<div class="nline_"></div>
						<div class="navmenu clearfix">
							<dl class="hotel">
								<dt>酒店旅游</dt>
								<dd><a href="mtjd.html">酒店</a></dd>
								<dd><a href="mtjd.html">高端酒店</a></dd>
								<dd><a href="mtjd.html">主题酒店</a></dd>
								<dd><a href="mtjd.html">青年旅社</a></dd>
								<dd><a href="mtjd.html">客栈</a></dd>
								<dd><a href="#">周边游</a></dd>
								<dd><a href="#">景点门票</a></dd>
								<dd><a href="#">温泉</a></dd>
								<dd><a href="#">农家乐</a></dd>
								<dd><a href="#">公园游乐园</a></dd>
								<dd><a href="#">跟团游</a></dd>
								<dd><a href="#">国内游</a></dd>
								<dd><a href="#">境外游</a></dd>
								<dd><a href="#">签证</a></dd>
							</dl>
							<dl class="cate">
								<dt>吃美食</dt>
								<dd><a href="#">美食</a></dd>
								<dd><a href="#">特色小吃</a></dd>
								<dd><a href="#">烧烤</a></dd>
								<dd><a href="#">自助餐</a></dd>
								<dd><a href="#">火锅</a></dd>
								<dd><a href="#">代金券</a></dd>
							</dl>
							<dl>
								<dt>看电影</dt>
								<dd><a href="#">热映电影</a></dd>
							</dl>
							<dl class="app">
								<dt>手机应用</dt>
								<dd><a href="../index.html"><img src="../images/index/meituan.png" alt=""></a></dd>
								<dd><a href="waimai.html"><img src="../images/index/waimai.png" alt=""></a></dd>
								<dd><a href="#"><img src="../images/index/zhenguo.png" alt=""></a></dd>
								<dd><a href="hezuo.html"><img src="../images/index/dianping.png" alt=""></a></dd>
								<dd><a href="#"><img src="../images/index/maoyan.png" alt=""></a></dd>
							</dl>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- 头部导航 E -->
		<div class="head_ clearfix">
			<div class="container clearfix">
				<!-- logo -->
				<div class="logo">
					<a href="../index.html"><img src="../images/index/logo.png" alt=""></a>
				</div>
				<!-- 搜索 -->
				<div class="search">
					<div class="search-block">
						<input type="text" name="" id="search" placeholder="搜索商家或地点" onclick ="xianshi()" >
						<button></button>
						<dl id="search_hot">
							<dt>热门搜索</dt>
							<dd><a href="#">金滏山自助烤肉美食中心</a></dd>
							<dd><a href="#">过路人台湾饭团</a></dd>
							<dd><a href="#">七欣天品蟹轩</a></dd>
							<dd><a href="#">项妃鸭</a></dd>
						</dl>
					</div>
					<div class="search-word">
						<a href="#">金滏山自助烤肉美食中心</a><a href="#">过路人台湾饭团</a><a href="#">七欣天品蟹轩</a><a href="#">项妃鸭</a><a href="#">欢乐牧场自助餐厅</a>
					</div>
				</div>
			</div>
		</div>
		<div class="content container">
			<div class="oneleft">
				<img src="../images/huoche/hc.png" alt="">
				<span>火车票</span>
				<div class="oneleft1">
					<div class="chufa">
						<div class="chufa1">出发城市</div>
						<input type="text" placeholder="&nbsp;&nbsp;中文/拼音/首字母">
					</div>
					<div class="chufa">
						<div class="chufa1">到达城市</div>
						<input type="text" placeholder="&nbsp;&nbsp;中文/拼音/首字母">
					</div>
					<div class="chufa">
						<div class="chufa1">出发日期</div>
						<input type="text" value="&nbsp;&nbsp;2017-11-19">
					</div>
					<div class="btn">搜索</div>
				</div>
			</div>
			<div class="oneright">
				<img src="../images/huoche/4235f832e7e70392282dd507e46dfeb9136597.jpg" alt="">
			</div>
		</div>


		<div class="hot container">
			<div class="hotleft">
				<h3 class="htwz">热门线路</h3>
				<div class="leftbox">
					<ul class="hotcity">
						<a href=""><li class="h1">北京</li></a>
						<a href=""><li class="h1">上海</li></a>
						<a href=""><li class="h1">广州</li></a>
						<a href=""><li class="h1">深圳</li></a>
						<a href=""><li class="h1">成都</li></a>
					</ul>
					<ul class="hotdd">
						<li class="h2">
							<a href=""><div class="hezi">
								<span>北京</span>
								<i class="line">——</i>
								<span>南京</span>
							</div></a>
							<a href=""><p class="jiaqian">
								<span>&yen;</span>
								<span class="zi">130.5</span>
								<span>起</span>
							</p></a>
						</li>
						<li class="h2">
							<a href=""><div class="hezi">
								<span>北京</span>
								<i class="line">——</i>
								<span>成都</span>
							</div></a>
							<a href=""><p class="jiaqian">
								<span>&yen;</span>
								<span class="zi">225.0</span>
								<span>起</span>
							</p></a>
						</li>
						<li class="h2">
							<a href=""><div class="hezi">
								<span>北京</span>
								<i class="line">——</i>
								<span>福州</span>
							</div></a>
							<a href=""><p class="jiaqian">
								<span>&yen;</span>
								<span class="zi">251.0</span>
								<span>起</span>
							</p></a>
						</li>
						<li class="h2">
							<a href=""><div class="hezi">
								<span>北京</span>
								<i class="line">——</i>
								<span>广州</span>
							</div></a>
							<a href=""><p class="jiaqian">
								<span>&yen;</span>
								<span class="zi">250.0</span>
								<span>起</span>
							</p></a>
						</li>
						<li class="h2">
							<a href=""><div class="hezi">
								<span>北京</span>
								<i class="line">——</i>
								<span>广州</span>
							</div></a>
							<a href=""><p class="jiaqian">
								<span>&yen;</span>
								<span class="zi">250.0</span>
								<span>起</span>
							</p></a>
						</li>
						<li class="h2">
							<a href=""><div class="hezi">
								<span>北京</span>
								<i class="line">——</i>
								<span>广州</span>
							</div></a>
							<a href=""><p class="jiaqian">
								<span>&yen;</span>
								<span class="zi">250.0</span>
								<span>起</span>
							</p></a>
						</li>
						<li class="h2">
							<a href=""><div class="hezi">
								<span>北京</span>
								<i class="line">——</i>
								<span>广州</span>
							</div></a>
							<a href=""><p class="jiaqian">
								<span>&yen;</span>
								<span class="zi">250.0</span>
								<span>起</span>
							</p></a>
						</li>
						<li class="h2">
							<a href=""><div class="hezi">
								<span>北京</span>
								<i class="line">——</i>
								<span>广州</span>
							</div></a>
							<a href=""><p class="jiaqian">
								<span>&yen;</span>
								<span class="zi">250.0</span>
								<span>起</span>
							</p></a>
						</li>
						<li class="h2">
							<a href=""><div class="hezi">
								<span>北京</span>
								<i class="line">——</i>
								<span>广州</span>
							</div></a>
							<a href=""><p class="jiaqian">
								<span>&yen;</span>
								<span class="zi">250.0</span>
								<span>起</span>
							</p></a>
						</li>
						<li class="h2">
							<a href=""><div class="hezi">
								<span>北京</span>
								<i class="line">——</i>
								<span>广州</span>
							</div></a>
							<a href=""><p class="jiaqian">
								<span>&yen;</span>
								<span class="zi">250.0</span>
								<span>起</span>
							</p></a>
						</li>
						<li class="h2">
							<a href=""><div class="hezi">
								<span>北京</span>
								<i class="line">——</i>
								<span>广州</span>
							</div></a>
							<a href=""><p class="jiaqian">
								<span>&yen;</span>
								<span class="zi">250.0</span>
								<span>起</span>
							</p></a>
						</li>
						<li class="h2">
							<a href=""><div class="hezi">
								<span>北京</span>
								<i class="line">——</i>
								<span>广州</span>
							</div></a>
							<a href=""><p class="jiaqian">
								<span>&yen;</span>
								<span class="zi">250.0</span>
								<span>起</span>
							</p></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="hotright">
				<h3 class="htwz">常见问题</h3>
				<div class="rightbox">
					<ul class="wenti">
						<li class="first">
							<span class="yan">Q1</span>
							<span class="yan1">提示“身份核验失败”是什么意思？</span>
							<p>
							   如果您的姓名和身份信息都填写正确仍提示您乘客未通过身份核验，建议您前往火车站或者是代售点购票并进行实名验证，下次即可在网上购票了
							</p>
						</li>
						<li class="first">
							<span class="yan">Q2</span>
							<span class="yan1">我要办理退票，手续费是多少？
							</span>
							<p>
							   开车前15天以上不收取退票费；开车前48小时以上，手续费 5%；开车前24-48小时之间，手续费10%；开车前24小时内，手续费20%；最终退款以铁路局实退为准。
							</p>
						</li>
						<li class="first">
							<span class="yan">Q3</span>
							<span class="yan1">火车票可以提前几天预定？
							</span>
							<p>铁路互联网售票、电话订票的预售期为30天</p>
						</li>
						<li class="first">
							<span class="yan">Q4</span>
							<span class="yan1">我想买下铺，能自己选吗？？</span>
							<p>互联网售票铺位是随机分配的，不能自主选择铺位，以实际占的铺位为准。如果必须要下铺，建议您去火车站或代售点购买。</p>
						</li>
						<li class="first">
							<span class="yan">Q5</span>
							<span class="yan1">没赶上火车，怎么办？能退票或者改签吗？</span>
							<p>铁路部门规定，旅客必须在发车前办理退票。如发车时间已过，可在当天协调改签，具体请至火车站退票窗口咨询办理。</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- 美团导航 mtdh 部分 S -->
				<div class="seo container">
					<div class="boxcontent">
						<dl class="clearfix">
							<dt>热门火车站</dt>
							<div class="sublist clearfix">
								<dd><a href="#">南京火车站</a></dd>
								<dd><a href="#">长沙火车站</a></dd>
								<dd><a href="#">广州火车站</a></dd>
								<dd><a href="#">东莞火车站</a></dd>
								<dd><a href="#">郑州火车站</a></dd>
								<dd><a href="#">温州火车站</a></dd>
								<dd><a href="#">太原火车站</a></dd>
								<dd><a href="#">常州火车站</a></dd>
								<dd><a href="#">宁波火车站</a></dd>
								<dd><a href="#">福州火车站</a></dd>
								<dd><a href="#">合肥火车站</a></dd>
								<dd><a href="#">哈尔滨火车站</a></dd>
								<dd><a href="#">西安火车站</a></dd>
								<dd><a href="#">厦门火车站</a></dd>
								<dd><a href="#">北京火车站</a></dd>
								<dd><a href="#">天津火车站</a></dd>
								<dd><a href="#">济南火车站</a></dd>
								<dd><a href="#">昆明火车站</a></dd>
								<dd><a href="#">长春火车站</a></dd>
								<dd><a href="#">大连火车站</a></dd>
							</div>
						</dl>
						<dl class="clearfix Class">
							<dt>热门城市时刻表</dt>
							<div class="sublist clearfix">
								<dd><a href="#">南京火车站时刻表</a></dd>
								<dd><a href="#">长沙火车站时刻表</a></dd>
								<dd><a href="#">广州火车站时刻表</a></dd>
								<dd><a href="#">东莞火车站时刻表</a></dd>
								<dd><a href="#">郑州火车站时刻表</a></dd>
								<dd><a href="#">温州火车站时刻表</a></dd>
								<dd><a href="#">太原火车站时刻表</a></dd>
								<dd><a href="#">常州火车站时刻表</a></dd>
								<dd><a href="#">宁波火车站时刻表</a></dd>
								<dd><a href="#">福州火车站时刻表</a></dd>
								<dd><a href="#">合肥火车站时刻表</a></dd>
								<dd><a href="#">哈尔滨火车站时刻表</a></dd>
								<dd><a href="#">西安火车站时刻表</a></dd>
								<dd><a href="#">厦门火车站时刻表</a></dd>
								<dd><a href="#">北京火车站时刻表</a></dd>
								<dd><a href="#">天津火车站时刻表</a></dd>
								<dd><a href="#">济南火车站时刻表</a></dd>
								<dd><a href="#">昆明火车站时刻表</a></dd>
								<dd><a href="#">长春火车站时刻表</a></dd>
								<dd><a href="#">大连火车站时刻表</a></dd>
							</div>
						</dl>
						<dl class="clearfix Class">
							<dt>热门城市火车票代售点</dt>
							<div class="sublist clearfix">
								<dd><a href="#">南京火车站代售点</a></dd>
								<dd><a href="#">长沙火车站代售点</a></dd>
								<dd><a href="#">广州火车站代售点</a></dd>
								<dd><a href="#">东莞火车站代售点</a></dd>
								<dd><a href="#">郑州火车站代售点</a></dd>
								<dd><a href="#">温州火车站代售点</a></dd>
								<dd><a href="#">太原火车站代售点</a></dd>
								<dd><a href="#">常州火车站代售点</a></dd>
								<dd><a href="#">宁波火车站代售点</a></dd>
								<dd><a href="#">福州火车站代售点</a></dd>
								<dd><a href="#">合肥火车站代售点</a></dd>
								<dd><a href="#">哈尔滨火车站代售点</a></dd>
								<dd><a href="#">西安火车站代售点</a></dd>
								<dd><a href="#">厦门火车站代售点</a></dd>
								<dd><a href="#">北京火车站代售点</a></dd>
								<dd><a href="#">天津火车站代售点</a></dd>
								<dd><a href="#">济南火车站代售点</a></dd>
								<dd><a href="#">昆明火车站代售点</a></dd>
								<dd><a href="#">长春火车站代售点</a></dd>
								<dd><a href="#">大连火车站代售点</a></dd>
							</div>
						</dl>
					</div>
				</div>
				<!-- 美团导航 mtdh 部分 E -->
	<!-- 美团首页头部 header 部分 E -->
		
	<!-- 美团首页内容主题 wrap 部分 S-->
	<div class="wrap" onclick="out()">
		<div class="container">
			
		</div>
	</div>
	<!-- 美团首页内容主题 wrap 部分 E -->
	<!-- 底部开始 footer 部分 S -->
	<div class="footer"onclick="out()">
		<div class="container clearfix">
			<div class="fone">
				<dl>
					<dt>用户帮助</dt>
					<dd><a href="#">美团承诺</a></dd>
					<dd><a href="#">购物保障</a></dd>
					<dd><a href="#">申请退款</a></dd>
					<dd><a href="#">查看美团券密码</a></dd>
					<dd><a href="#">常见问题</a></dd>
					<dd><a href="#">用户协议</a></dd>
					<dd><a href="#">隐私政策</a></dd>
					<dd><a href="#">反诈骗公告</a></dd>
				</dl>
				<dl>
					<dt>美团服务</dt>
					<dd><a href="#">美团外卖</a></dd>
					<dd><a href="#">猫眼电影</a></dd>
					<dd><a href="#">美团云</a></dd>
					<dd><a href="#">大众点评</a></dd>
					<dd><a href="#">榛果民宿</a></dd>
				</dl>
			</div>
			<div class="ftwo">
				<dl>
					<dt>商家合作</dt>
					<dd><a href="#">美食商家入驻（非外卖）</a></dd>
					<dd><a href="#">外卖商家入驻</a></dd>
					<dd><a href="#">酒店商家入驻</a></dd>
					<dd><a href="#">境内度假商家入驻</a></dd>
					<dd><a href="#">综合商家入驻</a></dd>
					<dd><a href="#">榛果民宿房东商家入驻</a></dd>
					<dd><a href="#">点餐秒付合作申请</a></dd>
					<dd><a href="#">美团点评智能收银机</a></dd>
					<dd><a href="#">聚宝盆餐饮开放平台</a></dd>
					<dd><a href="#">美团智能支付</a></dd>
				</dl>
			</div>
		
			<div class="fthree">
				<dl>
					<dt>代理商加盟</a></dt>
					<dd><a href="#">到店餐饮代理商招募</a></dd>
					<dd><a href="#">非餐饮代理商招募</a></dd>
					<dd><a href="#">美团联盟</a></dd>
				</dl>
				<dl>
					<dt>行业规范</dt>
					<dd><a href="#">美团点评餐饮安全管理办法</a></dd>
				</dl>
				<dl>
					<dt>廉正举报</dt>
					<dd><a href="#">廉正邮箱</a></dd>
				</dl>
			</div>

			<div class="ffour">
				<dl>
					<dt>关注美团</dt>
					<dd><a href="#">美团新浪微博</a></dd>
				</dl>


				<dl>
					<dt>关于美团</dt>
					<dd><a href="#">媒体报道</a></dd>
				</dl>
				<dl>
					<dt>公司信息</dt>
					<dd><a href="#">加入我们</a></dd>
					<dd><a href="#">法律声明</a></dd>
					<dd><a href="#">商户服务协议</a></dd>
				</dl>	
			</div>		
			<div class="ffive">
				<p class="ftitle">客服电话</p>
				<p class="fphone">10107888</p>
				<p class="ftime">（9:00-23:00）</p>
			</div>
		</div>
	</div>
	<!-- 底部开始 footer 部分 E -->


	<!-- 底部版权开始 footer 部分 S -->
	<div class="footer-copy container "onclick="out()">
			<div class="fcopy-left">
				<p>©美团网团购 meituan.com <a href="#">京ICP证070791号</a><a href="#"> 京ICP备10211739号</a> <a href="#">电子公告服务规则</a></p>
				<p><a href="#">广播电视节目制作经营许可证（京）字第03889号</a></p>
			</div>
			<div class="fcopy-right">
				<p><a href="#">京公网安备11010502025545号</a></p>
			</div>
	</div>
	<!-- 底部版权开始 footer 部分 E -->
</body>
</html>