<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/jiudian.css">
	<title>美团点评-酒店商家入驻</title>
		<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/icon1.ico">
</head>
<body>
	<!-- 头部标签图 S -->
	<div class="header">
		<div class="headerimg">
			<a href="shangjia.html"><img src="../images/shangjia/jdlogo1.png" alt=""></a>
		</div>
	</div>
	<!-- 头部标签图 E -->

	<!-- 中间的content  S -->
		<!-- 中间大盒子开始man -->
	<div class="man">
		<div class="container">

				<!-- 用户名 -->
				<div class="right color-white">
					<div class="kaitou">
						<a href=""><div class="ktleft">账户密码登陆</div></a>
						<a href=""><div class="ktright">手机验证登陆</div></a>
					</div>
					<div class="two">
						<div><i class="tb-mamber"></i></div>
						<input type="text" placeholder="用户名">
					</div>
			   <!-- 密码 -->
					<div class="password">
						<div><i class="tb-lock"></i></div>
						<input type="password" placeholder="密码">
					</div>
				<!-- 记住密码框 -->
				<div class="mima">
					<input type="checkbox" name="" id="">记住密码
				</div>
				<!-- 登陆按钮 -->
				<div class="denglu">
					<a href="shangjia.html"><input type="button" value="登     录"></a>
				</div>
			</div>
		</div>	
	</div>
	<!-- 中间大盒子结束 -->
	<!-- 中间的content  E -->

	
</body>
</html>