<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/luyou.css">
	<link rel="stylesheet" href="../css/common.css">
	<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/icon.ico">
	<title>美团点评-旅游商家入驻</title>
</head>
<body>
	<!-- 表头图片  S-->
	<div class="header container">
		<div class="hgimg">
			<a href="shangjia.html"><img src="../images/shangjia/43749b8476e0d77d7fd369901a7334aa56651 (1).png" alt=""></a>
		</div>
			<!-- 合作业务 S -->
		<div class="content container">
			<span>&nbsp;&nbsp;&nbsp;&nbsp;合作业务</span>
			<div class="one container">
				<p>门票</p>
				<p>跟团游</p>
				<p>酒景</p>
				<p>机酒</p>
				<p>旅游用车</p>
			</div>
		</div>
			<!-- 合作业务 E -->
			<!-- 公司信息 S -->
		<div class="content1 container">
			<span>&nbsp;&nbsp;&nbsp;&nbsp;公司信息</span>
			<div class="two container">
				公司名称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" placeholder="请输入公司名称">
			</div>
			<div class="three container clearfix">
				<b>所在城市</b>
				<select>
					<option>请选择省份</option> 
					<option>北京市</option>
					<option>天津市</option>
					<option>河北市</option>
					<option>上海市</option>
					<option>深圳市</option>
					<option>广州市</option>
					<option>重庆市</option>
					<option>湖北市</option>
					<option>湖南市</option>
					<option>海南市</option>
					<option>珠海市</option>
					<option>长沙市</option>
					<option>株洲市</option>
					<option>江苏市</option>
				</select>

				 <select>
					<option>请选择市</option>
					<option>北京市</option>
					<option>天津市</option>
					<option>河北市</option>
					<option>上海市</option>
					<option>深圳市</option>
					<option>广州市</option>
					<option>重庆市</option>
					<option>湖北市</option>
					<option>湖南市</option>
					<option>海南市</option>
					<option>珠海市</option>
					<option>长沙市</option>
					<option>株洲市</option>
					<option>江苏市</option>
				 </select>
			</div>
			<!-- 公司信息 E -->
			<!-- 印业执照 S -->
			<div class="four clearfix">
				<span>&nbsp;&nbsp;&nbsp;&nbsp;营业执照</span>
				<input id="pp-file" accept="images/*" type="file" multiple="multiple" class="photos-picker">
			</div>
			<!-- 印业执照 S -->
			<div class="content1 container">
			<span>&nbsp;&nbsp;&nbsp;&nbsp;联系人信息</span>
			<div class="two container">
				姓名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				 <input type="text" placeholder="请输入姓名"><br>
				 电子邮箱
				 <input type="text" placeholder="用于接收审核邮件"><br>
				 电话号码
				 <input type="text" placeholder="方便工作人员与您联系"><br>
				 <div class="yzm clearfix">
					 <b>验证码&nbsp;&nbsp;&nbsp;</b>
					 <input class="input1" type="text" placeholder="请输入验证码"><br>
					 <button class="data">获取验证码</button>
				</div>
				 
				 <a href="shangjia.html"><button class="tijiao">提交</button></a>
			</div>
		</div>
		
			
	</div>
	<!-- 表头图片  E-->



</body>
</html>