<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/meishi.css">
	<title>商家入驻</title>
	<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/icon1.ico">
</head>
<body>
	<!-- 头部信息 S  -->
	<div class="header ">
		<div class="one">
			<div class="leftimg">
				<a href="shangjia.html">
				<img src="../images/shangjia/mslogo.png" alt=""></a>
			</div>
			<div class="rightlj">
				<a href="../index.html">美团网</a>
				<a href="">大众点评</a>
				<a href="">手机版</a>
				<a href="">在线客服</a>			
			</div>
		</div>
	</div>
	<!-- 头部信息 E -->


	<!-- 背景图片 S -->
	<div class="intro">
		<div class="intro1">
			<!-- 插入三张图片 S -->
			<div class="introimg">
				<img class="tu" src="../images/shangjia/dianping-6a4ff9df75e443dfb0d8be80c17485ab.png" alt="">
				<img class="tu" src="../images/shangjia/meituan-e127c44689003b008bd231e4039b35f1.png" alt="">
				<img class="tu1" src="../images/shangjia/title-492bc9d6890f82568c7393e531a01384.png" alt="">
				<!-- 插入三张图片 E -->	
					<!-- 插入文字 S  -->
			</div>

			<div class="bigbox container">
				<div class="box">
					  <span class="zi">200</span>
					  <span class="zi1">万</span>
					  <p>合作商户</p> 
				</div>

				<div class="box">
					  <span class="zi">400</span>
					  <span class="zi1">万</span>
					  <p>每日订单</p> 
				</div>
				<div class="box">
					 <span class="zi">3600</span>
					  <span class="zi1">座</span>
					  <p>覆盖城市</p> 
				</div>
				<div class="box">
					 <span class="zi">24</span>
					 <span class="zi1">小时</span>
					  <p>开店时间</p> 
				</div>
			</div>
					<!-- 商家合作 	S  -->
			<div class="cysh container">
				<h3>餐饮商户合作</h3>
				<img src="../images/shangjia/tips-9ba81702cbab9bf213a317801d1e0ab2.png" alt="">
			</div>
			<!-- 商家合作 	E  -->
			<!-- 超链接文字 S -->
			<div class="lianjie container">
				<span>
					<a href="waimai.html"> 我要合作 外卖</a>
				</span>
				<span>
					<a href="jiudian.html"> 我要合作 酒店</a>
				</span>
				<span>
					<a href=""> 我要合作 丽人休闲娱乐其他</a>
				</span>
			</div>
			<!-- 超链接文字 E -->
			<!-- 下滑图标 S -->
			<div class="ljimg">
				<img src="../images/shangjia/arrow-down-047b775d1876f8f5cb90a9cbfb373625.png" alt="">
			</div>
			<!-- 下滑图标 E -->
	    </div>
    </div>
	</div>
	<!-- 背景图片 E -->
	<!-- 中间内容（图标） S -->
	<div class="content container">
		<h2>免费入驻 合作优势</h2>
		<p>美团点评双平台免费合作，餐饮店铺的明智之选</p>
		<div class="one"></div>

		<div class="tubiao container">
			<div class="k1">
				<img src="../images/shangjia/more-passengers-f9983eed9b0a61c8f70c2feb33bcb97c.png" alt="">
				<h3>海量客流</h3>
				<p>美团、大众点评双入口引流，轻松获取周边客流</p>
			 </div>
			 <div class="k1">
				<img src="../images/shangjia/effient-operation-304c26b530afe7d44616cf4b30c02c4c.png" alt="">
				<h3>海量客流</h3>
				<p>美团、大众点评双入口引流，轻松获取周边客流</p>
			 </div>
			 <div class="k1">
				<img src="../images/shangjia/free-marketing-65a2ddddd40170685b1ca0f8291c787e.png" alt="">
				<h3>海量客流</h3>
				<p>美团、大众点评双入口引流，轻松获取周边客流</p>
			 </div>
			 <div class="k1">
				<img src="../images/shangjia/convenient-service-5f88ff1d1a5fce61ea5275e6304a0733.png" alt="">
				<h3>海量客流</h3>
				<p>美团、大众点评双入口引流，轻松获取周边客流</p>
			 </div>
		</div>
	</div>
	
	<!-- 下拉类表 S -->
	<div class="content" style="background-color: #f7f7f7;">
		<h2>合作商家 优秀案例</h2>
		<p>美团点评双平台免费合作，餐饮店铺的明智之选</p>
		<div class="one"></div>
	<!-- 下拉类表 E -->
	<!-- 中间内容（图标） E -->
		<div class="xiala">
			<div class="k2  ">
				<img src="../images/shangjia/8d7342769c97b7c0cddf660acae6bbbd299928.png" alt="">
				<h3>外婆家</h3>
				<p>新春营销，外婆家通过怀旧年味的方式增加与年轻 一代消费者之间情感，以此来带动销量及品牌好感 度。美团点评通过大数据，洞察新生代的喜</p>
			 </div>
			<div class="k2">
				<img src="../images/shangjia/8d7342769c97b7c0cddf660acae6bbbd299928.png" alt="">
				<h3>外婆家</h3>
				<p>新春营销，外婆家通过怀旧年味的方式增加与年轻 一代消费者之间情感，以此来带动销量及品牌好感 度。美团点评通过大数据，洞察新生代的喜</p>
			 </div>
			 <div class="k2">
				<img src="../images/shangjia/8d7342769c97b7c0cddf660acae6bbbd299928.png" alt="">
				<h3>外婆家</h3>
				<p>新春营销，外婆家通过怀旧年味的方式增加与年轻 一代消费者之间情感，以此来带动销量及品牌好感 度。美团点评通过大数据，洞察新生代的喜</p>
			 </div>
			 <!-- 下滑图标 S -->
				<div class="xiahua">
					<img src="../images/shangjia/arrow-down-047b775d1876f8f5cb90a9cbfb373625.png" alt="">
				</div>
					<!-- 下滑图标 E -->
		</div>
		</div>
	<!-- 下拉类表 S -->
	<div class="content">
		<h2>合作流程</h2>
		<p>只需3步 即可快速开店</p>
		<div class="one"></div>
	</div>
	<!-- 下拉类表 E -->
	<!-- 合作流程模块 S -->
	<div class="hezuo container">
		<div class="k3  ">
			<img src="../images/shangjia/flow1-7fc67e455276aee6ef6eac8de1b6bfb6.png" alt="">
			<h3>注册账号</h3>
			<p>注册账号手机验证码快速注册</p>
			<img class="hzimg" src="../images/shangjia/flow-arrow1-f751c55a1cf09e915b2c852e16fc813a.png" alt="">
		</div>
		<div class="k3  ">
			<img class="k3img" src="../images/shangjia/flow2-9f61708a7e8aa4d820d70d1abc13eb90.png" alt="">
			<h3>注册账号</h3>
			<p>注册账号手机验证码快速注册</p>
			<img class="hzimg1" src="../images/shangjia/flow-arrow2-c6a2cdeaf202b09c5675ded117e738c5.png" alt="">
		</div>
		<div class="k3  ">
			<img src="../images/shangjia/flow3-c233f3544e63bb5c8e7e7d92effc288c.png" alt="">
			<h3>注册账号</h3>
			<p>注册账号手机验证码快速注册</p>
		</div>
	</div>
	<!-- 合作流程模块 E -->
	<!-- 下拉类表 S -->
	
	<div class="content bggray">
		<h2>常见问题</h2>
		<p>若有其他疑问请联系我们</p>
		<div class="one"></div>
	<!-- 下拉类表 E -->
	<!-- 常见问题模块 S -->
	<!-- <div class="changjian"> -->
	<!-- 	<div class="cjleft"></div> -->
		<div class="changjian">
			<div class="cjleft">
				<ul>
					<li>
						<!-- 标题 -->
						<p class="title">
							<img src="../images/shangjia/q1-dc7ee2b505061079284df33e12ddd72d.png" alt="">
						加入美团点评需要哪些资料？</p>
						<!-- 文字 -->
						<p class="desc">身份证、门店信息、银行卡账号（银行卡持有人与提供的身份证本人保持一致），仅支持实体门店入驻。</p>

					</li>
					<li>
						<!-- 标题 -->
						<p class="title">
							<img src="../images/shangjia/q2-69e7cb1eec154a1cad989b0f5da605f9.png" alt="">
						加入美团点评是否需要交纳入驻费用？</p>
						<!-- 文字 -->
						<p class="desc">加入美团点评不需要缴纳任何费用，只需要提供加入所需资料。
					</li>
				</ul>
			</div>
			<div class="cjright">
				<ul>
					<li>
					
						<!-- 标题 -->
						<p class="title">
							<img src="../images/shangjia/q3-ce5899f1b4a4f552b7adfc44ba9e3b0a.png" alt="">加入美团点评需要哪些资料？</p>
						<!-- 文字 -->
						<p class="desc">不同城市、不同品类的门店的费率不一样，费率范围大致在5%~10%。 在您上项目选择品类时可以看到具体的费率信息。。</p>

					</li>
						<li>
					
						<!-- 标题 -->
						<p class="title">
							<img src="../images/shangjia/q4-02be78dc7ae656bc08f2b32db4d65548.png" alt="">团购、买单、代金券项目如何结算？</p>
						<!-- 文字 -->
						<p class="desc">根据实际到店消费额和费率，计算应付商家金额。 线上签署合同时可以选择打款的银行卡和收款周期。 提款方式有自动收款（次日到账）和商家后台手动提款等多种提款方式。。</p>
					</li>
				</ul>
			</div>
	</div>
	<!-- 常见问题模块 E -->
	<div class="footer chearfix">
		<div class="footerbox ">
			<div class="qrcodebg">
				<img class="qrcode" src="../images/shangjia/mobile-qrcode-ca46118286d2eea9ae4209b98f87fa66.png" alt="">
				<img src="../images/shangjia/arrow-bottom-311e0056a813167a6f18573663624860.png" alt="">
			</div>
				<h1>美团点评餐饮双平台 期待您的加入</h1>
				<p>客服电话： 10105557</p>
			<!-- 商家合作 	S  -->
			<div class="zuihou container">
				<h3>餐饮商户合作</h3>
				<img src="../images/shangjia/tips-9ba81702cbab9bf213a317801d1e0ab2.png" alt="">
			</div>
			<!-- 商家合作 	E  -->
		</div>
	</div>
</body>
</html>