<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>7天连锁酒店(宿迁泗阳汽车站店)_地址_电话_价格_预订_环境(图)-美团酒店</title>
	<!-- 引入外部样式	通用common.css -->
	<link rel="stylesheet" href="../css/common.css">
	<!-- 引入外部样式	清除reset.css -->
	<link rel="stylesheet" href="../css/reset.css">
	<!-- 引入外部样式	首页index.css -->
	<link rel="stylesheet" href="../css/index.css">
	<!-- 引入外部 美团酒店 css mtjd01.css -->
	<link rel="stylesheet" href="../css/mtjd01.css">
				<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/icon1.ico">
	<style>
	.left-img .maximg  {
		background-image: url(../images/mtjd/maximg4.jpg);
	}
</style>
</head>
<body>
	<!-- 美团首页头部 header 部分 S -->
	<div class="header">
		<!-- 头部导航 S-->
		<div class="nav clearfix container">
			<div class="nleft">
				宿迁
				<a href="#" class="nposition">切换城市</a>[
				<a href="#">睢宁</a>
				<a href="#">泗阳</a>
				<a href="#">新沂</a> ]
				<a href="../login/login.html" class="nlogin">立即登录</a>
				<a href="../login/zc.html">注册</a>
			</div>
			<div class="nright">
				<ul class="clearfix">
					<li class="nmy"><a href="#">我的美团</a>
						<ul>
							<li><a href="../login/login.html" target="_blank">我的订单</a></li>
							<li><a href="../login/login.html" target="_blank">我的评价</a></li>
							<li><a href="../login/login.html" target="_blank">我的收藏</a></li>
							<li><a href="../login/login.html" target="_blank">抵用券</a></li>
							<li><a href="../login/login.html" target="_blank">账户设置</a></li>
						</ul>
					</li>
					<li><a href="#">手机APP</a></li>
					<li class="ntrade"><a href="#">商家中心</a>
						<div class="nline"></div>
						<ul>
							<li><a href="#">登录商家中心</a></li>
							<li><a href="shangjia.html">我想合作</a></li>
							<li><a href="#">手机免费开店</a></li>
							<li><a href="#">餐饮代理商招募</a></li>
							<li><a href="#">商家申请开票</a></li>
						</ul>
					</li>
					<li class="wzdh">网站导航
						<div class="nline_"></div>
						<div class="navmenu clearfix">
							<dl class="hotel">
								<dt>酒店旅游</dt>
								<dd><a href="mtjd.html">酒店</a></dd>
								<dd><a href="mtjd.html">高端酒店</a></dd>
								<dd><a href="mtjd.html">主题酒店</a></dd>
								<dd><a href="mtjd.html">青年旅社</a></dd>
								<dd><a href="mtjd.html">客栈</a></dd>
								<dd><a href="#">周边游</a></dd>
								<dd><a href="#">景点门票</a></dd>
								<dd><a href="#">温泉</a></dd>
								<dd><a href="#">农家乐</a></dd>
								<dd><a href="#">公园游乐园</a></dd>
								<dd><a href="#">跟团游</a></dd>
								<dd><a href="#">国内游</a></dd>
								<dd><a href="#">境外游</a></dd>
								<dd><a href="#">签证</a></dd>
							</dl>
							<dl class="cate">
								<dt>吃美食</dt>
								<dd><a href="#">美食</a></dd>
								<dd><a href="#">特色小吃</a></dd>
								<dd><a href="#">烧烤</a></dd>
								<dd><a href="#">自助餐</a></dd>
								<dd><a href="#">火锅</a></dd>
								<dd><a href="#">代金券</a></dd>
							</dl>
							<dl>
								<dt>看电影</dt>
								<dd><a href="#">热映电影</a></dd>
							</dl>
							<dl class="app">
								<dt>手机应用</dt>
								<dd><a href="../index.html"><img src="../images/index/meituan.png" alt=""></a></dd>
								<dd><a href="waimai.html"><img src="../images/index/waimai.png" alt=""></a></dd>
								<dd><a href="#"><img src="../images/index/zhenguo.png" alt=""></a></dd>
								<dd><a href="hezuo.html"><img src="../images/index/dianping.png" alt=""></a></dd>
								<dd><a href="#"><img src="../images/index/maoyan.png" alt=""></a></dd>
							</dl>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- 头部导航 E -->
		<div class="head_ clearfix" id="head">
			<div class="container clearfix">
				<!-- logo -->
				<div class="logo ">
					<a href="mtjd.html"><img src="../images/index/logo.png" alt=""></a>
					<span>酒店</span>
					<ul class="head-block">
						<li>全部类型></li>
					</ul>
				</div>
				<div class="right">
					<img src="../images/mtjd/top-right.png" alt="" >
				</div>
			</div>
		</div>
	</div>
	<!-- 美团首页头部 header 部分 E -->

<!-- 酒店预览   S -->
<div class="come container">
	<!-- 顶部top -->
	<div class="nav">
		<a href="">泗阳</a>
		<span>></span>
		<a href="">泗阳</a>
		<span>></span>
		7天连锁酒店(宿迁泗阳汽车站店)
	</div>

	<div class="header clearfix">
		<!-- 上面的大标题 -->
		<div class="top">
			<span>7天连锁酒店(宿迁泗阳汽车站店)</span>


			<!-- 下面的小字 -->
			<div class="buttom">
				<a href="">[泗阳区]</a>
				<span>泗阳县上海路与淮海路交汇处（名流新天地黄金内街2#楼）</span>
				<a href="">
					<span class="icon-img"></span>
					查看地图
				</a>
			</div>
			<!-- 右边的价格 -->
			<div class="right">
				¥&nbsp;
				<em><span>109</span></em>
				起
			</div>
			
		</div>
		<!-- ======================================= -->
		<div class="left-img">
			<div class="maximg">
				<div class="btnbox">
					<span>全部图片(44)</span>&nbsp;&nbsp;&nbsp;|
					<span>外观(2)</span>&nbsp;&nbsp;&nbsp;|
					<span>大厅(4)</span>&nbsp;&nbsp;&nbsp;|
					<span>客房(30)</span>&nbsp;&nbsp;&nbsp;|
					<span>公共设施(3)</span>&nbsp;&nbsp;&nbsp;|
					<span>周边环境(2)</span>&nbsp;&nbsp;&nbsp;|
					<span>其他(2)</span>
				</div>
			</div>	
			<div class="listimg">
				<img src="../images/mtjd/imglist1.jpg" alt="">
				<img src="../images/mtjd/imglist2.jpg" alt="">
				<img src="../images/mtjd/imglist3.jpg" alt="">
				<img src="../images/mtjd/imglist4.jpg" alt="">
				<img src="../images/mtjd/imglist5.jpg" alt="">
				<img src="../images/mtjd/imglist6.jpg" alt="">
				<img src="../images/mtjd/imglist7.jpg" alt="">
				<img src="../images/mtjd/imglist8.jpg" alt="">
				<img src="../images/mtjd/imglist9.jpg" alt="">
				<img src="../images/mtjd/imglist10.jpg" alt="">
				<img src="../images/mtjd/imglist11.jpg" alt="">
				<img src="../images/mtjd/imglist12.jpg" alt="">
				<img src="../images/mtjd/imglist13.jpg" alt="">
				<img src="../images/mtjd/imglist14.jpg" alt="">
				<img src="../images/mtjd/imglist15.jpg" alt="">
				<img src="../images/mtjd/imglist16.jpg" alt="">
				<img src="../images/mtjd/imglist17.jpg" alt="">
				<img src="../images/mtjd/imglist18.jpg" alt="">
				<img src="../images/mtjd/imglist19.jpg" alt="">
				<img src="../images/mtjd/imglist20.jpg" alt="">
				<img src="../images/mtjd/imglist21.jpg" alt="">
				<img src="../images/mtjd/imglist22.jpg" alt="">
				<img src="../images/mtjd/imglist23.jpg" alt="">
				<img src="../images/mtjd/imglist24.jpg" alt="">

			</div>
		</div>


		<div class="right-border">
			<ul>
				<li class="other-line1">
					<div class="other-line1-score">
						<span class="fs34">4.8</span>
						分
					</div>
					<div class="other-line1-score-level">
							很好
						</div>
						<a href="">查看2618条评价></a>
				</li>
				<li class="mb10">
					<div class="ellipsis1" style="color: #666; line-height: 20px;">
						<span>2011年装修&nbsp;&nbsp; 2011年开业</span>
					</div>
				<div class="mb10-1" style="color: #666;">
					电话：0527-86272555
					</div>
					<ul class="other-detail">
						<li class="service-icon">
							<div>
							<img src="../images/mtjd/wifi.png" alt="" style="width: 28" height="28">
							</div>
							<div class="fc9">无线上网</div>
					 	</li>
						<li class="service-icon">
							<div>
							<img src="../images/mtjd/diannao.png" alt="" style="width: 28" height="28">
							</div>
							<div class="fc9">有线上网</div>
						</li>

						<li class="service-icon">
							<div>
							<img src="../images/mtjd/tingche.png" alt="" style="width: 28" height="28">
							</div>
							<div class="fc9">停车场</div>
						</li>
						<li class="service-icon">
							<div>
							<img src="../images/mtjd/jicun.png" alt="" style="width: 28" height="28">
							</div>
							<div class="fc9">行李寄存</div>
						</li>
					</ul>
				</li>
				<li class="small-map">
					<div class="relative">
						<img src="../images/mtjd/small-map.png" alt="">
					</div>
					
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- 酒店预览   E -->
<!-- ======================================================= -->
<!-- 中间的房间信息     S -->
<div class="deal-box container">
  <!-- top S -->
  <ul class="nav-tabs clearfix">
	<div >
		<li class="li-fir current">
			<a href="">房型预定</a>
		</li>
		<li><a href="">交通位置</a></li>
		<li><a href="">酒店信息</a></li>
		<li><a href="">住客点评（1547）</a></li>
	</div>
  </ul>
  <!-- top E  -->
<div class="deal-list">


	<!-- =================== -->
	<div class="filter clearfix" >
		<div class="checkin"> 

				<div class="two-three">
				<div class="two">
					<span class="input-title">入住</span>
					<input type="text" class="input-text" name="" id="" value="2017-11-3">
					<span class="input-title">今天</span>
					<span class="icon-img"></span>
				</div>
					<span class="line">-</span>
						<div class="two">
					<span class="input-title">离店</span>
					<input type="text" class="input-text" name="" id="" value="2017-11-4">
					<span class="input-title">星期六</span>
					<span class="icon-img"></span>
				</div>
			</div>

			<span class="date-txt">共一晚</span>
				<a href="" style="width: 50px;" class="top-btn">搜索</a>

			</div>


		</div>
<!-- =========================== -->
	</div>
	<!-- 酒店介绍   S -->
<div class="deal-section">
	<ul class="deal-table">
		<span>


			<!-- 第一个 -->
			<li class="deal-item">


				<!-- 房间图片 -->
				<div class="deal-img">
				<img src="../images/mtjd/fangjian01.jpg" alt="" style="width: 128; height: 80" class="radio-2">
				</div>
				<!-- 右边价格 -->
				<div class="pull-right">
					<div class="price-color">
						¥ &nbsp;
						<em class="price-number">99</em>
						起
					</div>
					<div class="pull-right see-more-good">
						<a href="">共三个产品
							<span class="icon-triangle-up">
							</span>
						</a>
					</div>
				</div>
				<!-- 中间的详细信息 -->
				<div class="book-info">
					<ul class="hotel-srvice">
					<div class="deal-margin-left ">
						<li class="deal-cellname">大床房
						</li>
						<div class="deal-cell-baesinfo">
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">上网</span>
							 &nbsp;

							 <span class="fw35">WiFi和宽带</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">卫浴</span>
							 &nbsp;
							 <span class="fw35">独立</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">窗户</span>
							 &nbsp;
							 <span class="fw35">有</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">可住</span>
							 &nbsp;
							 <span class="fw35">2人</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">面积</span>
							 &nbsp;
							 <span class="fw35">20㎡</span>
							 </div>
							</li>
		
						</div>
							<div class="deal-cell-baseinfo">
				<li>
					<div class=".deal-detail-splite">
						<span class="fc9">床型</span>
							 &nbsp;
							 <span class="fw35">大床1.8×2.0米1张</span>
					</div>
				</li>
			</div>
					</div>
					</ul>

					<!-- ======================= -->
					<div>
						<div class="deal-margin-left">
							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											经济房
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											99
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>

							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											自主大床房
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											110
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>

							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											双床房
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											108
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>



			</li>


			<!-- 第一个 -->







			<!-- 第2个 -->
			<li class="deal-item">


				<!-- 房间图片 -->
				<div class="deal-img">
				<img src="../images/mtjd/fangjian02.jpg" alt="" style="width: 128; height: 80" class="radio-2">
				</div>
				<!-- 右边价格 -->
				<div class="pull-right">
					<div class="price-color">
						¥ &nbsp;
						<em class="price-number">109</em>
						起
					</div>
					<div class="pull-right see-more-good">
						<a href="">共三个产品
							<span class="icon-triangle-up">
							</span>
						</a>
					</div>
				</div>
				<!-- 中间的详细信息 -->
				<div class="book-info">
					<ul class="hotel-srvice">
					<div class="deal-margin-left ">
						<li class="deal-cellname">自主双床房
						</li>
						<div class="deal-cell-baesinfo">
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">上网</span>
							 &nbsp;

							 <span class="fw35">宽带</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">卫浴</span>
							 &nbsp;
							 <span class="fw35">独立</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">窗户</span>
							 &nbsp;
							 <span class="fw35">有</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">可住</span>
							 &nbsp;
							 <span class="fw35">2人</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">面积</span>
							 &nbsp;
							 <span class="fw35">20㎡</span>
							 </div>
							</li>
		
						</div>
							<div class="deal-cell-baseinfo">
				<li>
					<div class=".deal-detail-splite">
						<span class="fc9">床型</span>
							 &nbsp;
							 <span class="fw35">大床1.8×2.0米1张</span>
					</div>
				</li>
			</div>
					</div>
					</ul>

					<!-- ======================= -->
					<div>
						<div class="deal-margin-left">
							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											家庭套房
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											101
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>

							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											商务大床房
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											110
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>

							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											商务双床房
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											108
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>



			</li>


			<!-- 第2个 -->







	


			<!-- 第3个 -->
			<li class="deal-item">


				<!-- 房间图片 -->
				<div class="deal-img">
				<img src="../images/mtjd/fangjian03.jpg" alt="" style="width: 128; height: 80" class="radio-2">
				</div>
				<!-- 右边价格 -->
				<div class="pull-right">
					<div class="price-color">
						¥ &nbsp;
						<em class="price-number">103</em>
						起
					</div>
					<div class="pull-right see-more-good">
						<a href="">共三个产品
							<span class="icon-triangle-up">
							</span>
						</a>
					</div>
				</div>
				<!-- 中间的详细信息 -->
				<div class="book-info">
					<ul class="hotel-srvice">
					<div class="deal-margin-left ">
						<li class="deal-cellname">商务房C
						</li>
						<div class="deal-cell-baesinfo">
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">上网</span>
							 &nbsp;

							 <span class="fw35">宽带</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">卫浴</span>
							 &nbsp;
							 <span class="fw35">独立</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">窗户</span>
							 &nbsp;
							 <span class="fw35">有</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">可住</span>
							 &nbsp;
							 <span class="fw35">2人</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">面积</span>
							 &nbsp;
							 <span class="fw35">20㎡</span>
							 </div>
							</li>
		
						</div>
							<div class="deal-cell-baseinfo">
				<li>
					<div class=".deal-detail-splite">
						<span class="fc9">床型</span>
							 &nbsp;
							 <span class="fw35">大床1.8×2.0米1张</span>
					</div>
				</li>
			</div>
					</div>
					</ul>

					<!-- ======================= -->
					<div>
						<div class="deal-margin-left">
							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											❤商务房C❤
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											99
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>

							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											商务房C
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											110
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>

							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											❤商务房C❤
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											108
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>



			</li>


			<!-- 第3个 -->








			<!-- 第4个 -->
			<li class="deal-item">


				<!-- 房间图片 -->
				<div class="deal-img">
				<img src="../images/mtjd/fangjian04.jpg" alt="" style="width: 128; height: 80" class="radio-2">
				</div>
				<!-- 右边价格 -->
				<div class="pull-right">
					<div class="price-color">
						¥ &nbsp;
						<em class="price-number">80</em>
						起
					</div>
					<div class="pull-right see-more-good">
						<a href="">共三个产品
							<span class="icon-triangle-up">
							</span>
						</a>
					</div>
				</div>
				<!-- 中间的详细信息 -->
				<div class="book-info">
					<ul class="hotel-srvice">
					<div class="deal-margin-left ">
						<li class="deal-cellname">商务房C
						</li>
						<div class="deal-cell-baesinfo">
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">上网</span>
							 &nbsp;

							 <span class="fw35">宽带</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">卫浴</span>
							 &nbsp;
							 <span class="fw35">独立</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">窗户</span>
							 &nbsp;
							 <span class="fw35">有</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">可住</span>
							 &nbsp;
							 <span class="fw35">2人</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">面积</span>
							 &nbsp;
							 <span class="fw35">20㎡</span>
							 </div>
							</li>
		
						</div>
							<div class="deal-cell-baseinfo">
				<li>
					<div class=".deal-detail-splite">
						<span class="fc9">床型</span>
							 &nbsp;
							 <span class="fw35">大床1.8×2.0米1张</span>
					</div>
				</li>
			</div>
					</div>
					</ul>

					<!-- ======================= -->
					<div>
						<div class="deal-margin-left">
							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											❤商务房C❤
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											80
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>

							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											商务房C
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											100
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>

							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											❤商务房C❤
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											120
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>



			</li>


			<!-- 第一个 -->





			<!-- 第一个 -->
			<li class="deal-item">


				<!-- 房间图片 -->
				<div class="deal-img">
				<img src="../images/mtjd/fangjian01.jpg" alt="" style="width: 128; height: 80" class="radio-2">
				</div>
				<!-- 右边价格 -->
				<div class="pull-right">
					<div class="price-color">
						¥ &nbsp;
						<em class="price-number">99</em>
						起
					</div>
					<div class="pull-right see-more-good">
						<a href="">共三个产品
							<span class="icon-triangle-up">
							</span>
						</a>
					</div>
				</div>
				<!-- 中间的详细信息 -->
				<div class="book-info">
					<ul class="hotel-srvice">
					<div class="deal-margin-left ">
						<li class="deal-cellname">商务房C
						</li>
						<div class="deal-cell-baesinfo">
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">上网</span>
							 &nbsp;

							 <span class="fw35">宽带</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">卫浴</span>
							 &nbsp;
							 <span class="fw35">独立</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">窗户</span>
							 &nbsp;
							 <span class="fw35">有</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">可住</span>
							 &nbsp;
							 <span class="fw35">2人</span>
							 </div>
							</li>
							<li>
							 <div class="deal-detail-spliter">
							 <span class="fc9">面积</span>
							 &nbsp;
							 <span class="fw35">20㎡</span>
							 </div>
							</li>
		
						</div>
							<div class="deal-cell-baseinfo">
				<li>
					<div class=".deal-detail-splite">
						<span class="fc9">床型</span>
							 &nbsp;
							 <span class="fw35">大床1.8×2.0米1张</span>
					</div>
				</li>
			</div>
					</div>
					</ul>

					<!-- ======================= -->
					<div>
						<div class="deal-margin-left">
							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											❤商务房C❤
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											99
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>

							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											商务房C
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											110
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>

							<table class="deal-table">
								<tr class="goods block">
									<td width="265">
										<span class="deal-cellname">
											❤商务房C❤
										</span>
									</td>
									<!-- ------ -->
									<td width="106">大床
									</td>
									<td width="118">有窗户</td>
									<td width="118">无早餐
									</td>
									<td width="130">
										<span class="bor-buttom-dotted">
											及时取消
										</span>
									</td>
									<td width="150" class="deal-table-useinfo">
										<span>
											使用规则
										</span>
									</td>
									<td width="115" class="price-color">
										¥&nbsp;
										<em class="price-number">
											108
										</em>
										起
									</td>
									<td width="90">
										<div>
											<a href="">
												<button class="deal-btn">
													预定
												</button>
											</a>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>



			</li>


			<!-- 第一个 -->





		</span>
	</ul>

</div>

	<!-- 酒店介绍   E -->
</div>


<!-- 中间的房间信息     E -->



<!-- 地图 S-->

<div class="main-info container">
<h2 id="map">交通位置</h2>
<div class="taffice container">
<img src="../images/mtjd/jtwz.png" alt="">
</div>
</div>
<!-- 地图 E -->

<!-- =================================== -->
<!-- 酒店信息 -->

<div class="jdxx container">
<img src="../images/mtjd/jdxx.png" alt="">
</div>


<!-- ======================================== -->



<!-- ======================================== -->
<!-- 住客点评 -->
<div class="zkdp container">
	<h2>住客点评(1547)</h2>
	<div class="zkdp-border">
		<img src="../images/mtjd/zkdp.png" alt="">
		<div class="list-page-view">
	<div class="paginator-wrapper">
		<ul class="paginator">
			<li class="active">1</li>
			<li><a href="">2</a></li>
			<li><a href="">3</a></li>
			<li><a href="">4</a></li>
			<li><a href="">5</a></li>
			<li><a href="">6</a></li>
			<li><a href="">7</a></li>
			<span class="ellipsis">...</span>
			<li><a href="">115</a></li>
			<li><a href="">></a></li>
		</ul>
	</div>

</div>
	</div>




</div>
<!-- ======================================== -->















	<!-- 底部开始 footer 部分 S -->
	<div class="footer"onclick="out()">
		<div class="container clearfix">
			<div class="fone">
				<dl>
					<dt>用户帮助</dt>
					<dd><a href="#">美团承诺</a></dd>
					<dd><a href="#">购物保障</a></dd>
					<dd><a href="#">申请退款</a></dd>
					<dd><a href="#">查看美团券密码</a></dd>
					<dd><a href="#">常见问题</a></dd>
					<dd><a href="#">用户协议</a></dd>
					<dd><a href="#">隐私政策</a></dd>
					<dd><a href="#">反诈骗公告</a></dd>
				</dl>
				<dl>
					<dt>美团服务</dt>
					<dd><a href="#">美团外卖</a></dd>
					<dd><a href="#">猫眼电影</a></dd>
					<dd><a href="#">美团云</a></dd>
					<dd><a href="#">大众点评</a></dd>
					<dd><a href="#">榛果民宿</a></dd>
				</dl>
			</div>
			<div class="ftwo">
				<dl>
					<dt>商家合作</dt>
					<dd><a href="#">美食商家入驻（非外卖）</a></dd>
					<dd><a href="#">外卖商家入驻</a></dd>
					<dd><a href="#">酒店商家入驻</a></dd>
					<dd><a href="#">境内度假商家入驻</a></dd>
					<dd><a href="#">综合商家入驻</a></dd>
					<dd><a href="#">榛果民宿房东商家入驻</a></dd>
					<dd><a href="#">点餐秒付合作申请</a></dd>
					<dd><a href="#">美团点评智能收银机</a></dd>
					<dd><a href="#">聚宝盆餐饮开放平台</a></dd>
					<dd><a href="#">美团智能支付</a></dd>
				</dl>
			</div>
		
			<div class="fthree">
				<dl>
					<dt>代理商加盟</a></dt>
					<dd><a href="#">到店餐饮代理商招募</a></dd>
					<dd><a href="#">非餐饮代理商招募</a></dd>
					<dd><a href="#">美团联盟</a></dd>
				</dl>
				<dl>
					<dt>行业规范</dt>
					<dd><a href="#">美团点评餐饮安全管理办法</a></dd>
				</dl>
				<dl>
					<dt>廉正举报</dt>
					<dd><a href="#">廉正邮箱</a></dd>
				</dl>
			</div>

			<div class="ffour">
				<dl>
					<dt>关注美团</dt>
					<dd><a href="#">美团新浪微博</a></dd>
				</dl>


				<dl>
					<dt>关于美团</dt>
					<dd><a href="#">媒体报道</a></dd>
				</dl>
				<dl>
					<dt>公司信息</dt>
					<dd><a href="#">加入我们</a></dd>
					<dd><a href="#">法律声明</a></dd>
					<dd><a href="#">商户服务协议</a></dd>
				</dl>	
			</div>		
			<div class="ffive">
				<p class="ftitle">客服电话</p>
				<p class="fphone">10107888</p>
				<p class="ftime">（9:00-23:00）</p>
			</div>
		</div>
	</div>
	<!-- 底部开始 footer 部分 E -->


	<!-- 底部版权开始 footer 部分 S -->
	<div class="footer-copy container "onclick="out()">
			<div class="fcopy-left">
				<p>©美团网团购 meituan.com <a href="#">京ICP证070791号</a><a href="#"> 京ICP备10211739号</a> <a href="#">电子公告服务规则</a></p>
				<p><a href="#">广播电视节目制作经营许可证（京）字第03889号</a></p>
			</div>
			<div class="fcopy-right">
				<p><a href="#">京公网安备11010502025545号</a></p>
			</div>
	</div>
	<!-- 底部版权开始 footer 部分 E -->
</body>
</body>
</html>