<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>宿迁酒店_宿迁酒店预订_宿迁宾馆价格查询-美团酒店</title>
	<!-- 引入外部样式	通用common.css -->
	<link rel="stylesheet" href="../css/common.css">
	<!-- 引入外部样式	清除reset.css -->
	<link rel="stylesheet" href="../css/reset.css">
	<!-- 引入外部 美团酒店 css mtjd.css -->
	<link rel="stylesheet" href="../css/mtjd.css">
	<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/icon1.ico">
</head>
<body>
	<!-- 美团首页头部 header 部分 S -->
	<div class="header">
		<!-- 头部导航 S-->
		<div class="nav clearfix container">
			<div class="nleft">
				宿迁
				<a href="#" class="nposition">切换城市</a>[
				<a href="#">睢宁</a>
				<a href="#">泗阳</a>
				<a href="#">新沂</a> ]
				<a href="../login/login.html" class="nlogin">立即登录</a>
				<a href="../login/zc.html">注册</a>
			</div>
			<div class="nright">
				<ul class="clearfix">
					<li class="nmy"><a href="../login/login.html">我的美团</a>
						<ul>
							<li><a href="../login/login.html" target="_blank">我的订单</a></li>
							<li><a href="../login/login.html" target="_blank">我的评价</a></li>
							<li><a href="../login/login.html" target="_blank">我的收藏</a></li>
							<li><a href="../login/login.html" target="_blank">抵用券</a></li>
							<li><a href="../login/login.html" target="_blank">账户设置</a></li>
						</ul>
					</li>
					<li><a href="#">手机APP</a></li>
					<li class="ntrade"><a href="#">商家中心</a>
						<div class="nline"></div>
						<ul>
							<li><a href="#">登录商家中心</a></li>
							<li><a href="shangjia.html">我想合作</a></li>
							<li><a href="#">手机免费开店</a></li>
							<li><a href="#">餐饮代理商招募</a></li>
							<li><a href="#">商家申请开票</a></li>
						</ul>
					</li>
					<li class="wzdh">网站导航
						<div class="nline_"></div>
						<div class="navmenu clearfix">
							<dl class="hotel">
								<dt>酒店旅游</dt>
								<dd><a href="mtjd.html">酒店</a></dd>
								<dd><a href="mtjd.html">高端酒店</a></dd>
								<dd><a href="mtjd.html">主题酒店</a></dd>
								<dd><a href="mtjd.html">青年旅社</a></dd>
								<dd><a href="mtjd.html">客栈</a></dd>
								<dd><a href="#">周边游</a></dd>
								<dd><a href="#">景点门票</a></dd>
								<dd><a href="#">温泉</a></dd>
								<dd><a href="#">农家乐</a></dd>
								<dd><a href="#">公园游乐园</a></dd>
								<dd><a href="#">跟团游</a></dd>
								<dd><a href="#">国内游</a></dd>
								<dd><a href="#">境外游</a></dd>
								<dd><a href="#">签证</a></dd>
							</dl>
							<dl class="cate">
								<dt>吃美食</dt>
								<dd><a href="#">美食</a></dd>
								<dd><a href="#">特色小吃</a></dd>
								<dd><a href="#">烧烤</a></dd>
								<dd><a href="#">自助餐</a></dd>
								<dd><a href="#">火锅</a></dd>
								<dd><a href="#">代金券</a></dd>
							</dl>
							<dl>
								<dt>看电影</dt>
								<dd><a href="#">热映电影</a></dd>
							</dl>
							<dl class="app">
								<dt>手机应用</dt>
								<dd><a href="../index.html"><img src="../images/index/meituan.png" alt=""></a></dd>
								<dd><a href="waimai.html"><img src="../images/index/waimai.png" alt=""></a></dd>
								<dd><a href="#"><img src="../images/index/zhenguo.png" alt=""></a></dd>
								<dd><a href="hezuo.html"><img src="../images/index/dianping.png" alt=""></a></dd>
								<dd><a href="#"><img src="../images/index/maoyan.png" alt=""></a></dd>
							</dl>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- 头部导航 E -->
		<div class="head_ clearfix" id="head">
			<div class="container clearfix">
				<!-- logo -->
				<div class="logo ">
					<a href="../index.html">
					<img src="../images/index/logo.png" alt=""></a>
					<span>酒店</span>
					<ul class="head-block">
						<li>全部类型></li>
					</ul>
				</div>
				<div class="right">
					<img src="../images/mtjd/top-right.png" alt="" style="no-repeat">
				</div>
			</div>
		</div>
	</div>
	<!-- 美团首页头部 header 部分 E -->
		
	<!-- 美团首页内容主题 wrap 部分 S-->
	<div class="wrap" onclick="out()">
		<div class="container">
			
		</div>
	</div>
	<!-- 美团首页内容主题 wrap 部分 E -->

<!-- 中间的列表 S -->
	<div class="search-view container">
	<div class="top  container">
		<div class="list">
			<div class="one">
				<span class="input-title">入住城市</span>
				<input type="text" class="input-text" name="" id="" value="宿迁" style="width:140px;">
			</div>
			<div class="two-three">
				<div class="two">
					<span class="input-title">入住</span>
					<input type="text" class="input-text" name="" id="" value="2017-11-3">
					<span class="input-title">今天</span>
					<span class="icon-img"></span>
				</div>
					<span class="line">-</span>
						<div class="two">
					<span class="input-title">离店</span>
					<input type="text" class="input-text" name="" id="" value="2017-11-4">
					<span class="input-title">星期六</span>
					<span class="icon-img"></span>
				</div>
			</div>
			<div class="wai">
			<div class="fore">
				<input type="text" placeholder="（关键词选填）酒店名/位置/品牌"  name="" id="">
			</div>
			</div>
			<a href="" style="width: 50px;" class="top-btn">搜索</a>
		</div>
		<!-- 中间的中部 -->
<div class="container search-filter">
		<div class="search-row-wrap clearfix ">
			<div class="search-row-title">位置</div>
			<div class="search-row-unlimited">
				<a href="" class="active">不限</a>
			</div>
			<div class="search-row-content">
					<div class="search-row-item1">
					<span class="search-arrow-tab">行政区/商区</span>
					<i class="i"></i>
					
				</div>
				<div class="search-row-item1">
					<span class="search-arrow-tab">高校</span>
					<i class="i"></i>
				</div>
				<div class="search-row-item1">
					<span class="search-arrow-tab">车站/机场</span>
					<i class="i"></i>
				</div>
				<div class="search-row-item1">
					<span class="search-arrow-tab">旅游景点</span>
					<i class="i"></i>
				</div>
				<div class="search-row-item1">
					<span class="search-arrow-tab">医院</span>
					<i class="i"></i>
				</div>
			</div>
		</div>
				<!-- 第二行 星级 S-->
				<div class="search-row clearfix">
					<div class="search-row-spread">
						<div class="search-row-title">星级</div>
						<div class="search-row-unlimited">
						<a href="" class="active">不限</a>
						</div>
						<div class="search-row-content">

							<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										经济型
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										舒适/三星
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										高档/四星
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										豪华/五星
									</label>
								</a>
							</span>

						</div>
					</div>
				</div>

				<!-- 第二行 星级 E-->


				<!-- 第三行 类型 S-->
					<div class="search-row clearfix">
					<div class="search-row-spread">
						<div class="search-row-title">类型</div>
						<div class="search-row-unlimited">
						<a href="" class="active">不限</a>
						</div>
						<div class="search-row-content">

							<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										经济型酒店
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										主题酒店
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										商务酒店
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										公寓
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										豪华酒店
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										客栈
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										青年旅社
									</label>
								</a>
							</span>
						</div>
						<div class="search-row-change">
							<span>更多</span>
						</div>
					</div>
				</div>
				<!-- 第三行 类型 E-->


				<!-- 第四行  品牌 S -->
				<div class="search-row clearfix">
					<div class="search-row-spread">
						<div class="search-row-title">品牌</div>
						<div class="search-row-unlimited">
						<a href="" class="active">不限</a>
						</div>
						<div class="search-row-content">

							<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										7天
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										如家
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										汉庭
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										锦江之星
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										格林豪泰
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="checkbox" value="6">
										速899连锁
									</label>
								</a>
							</span>
							
						</div>
						<div class="search-row-change">
							<span>更多</span>
						</div>
					</div>
				</div>
				<!-- 第四行  品牌  E -->

				<!-- 第五行  价格  S -->
				<div class="search-row clearfix">
					<div class="search-row-spread">
						<div class="search-row-title">价格</div>
						<div class="search-row-unlimited">
						<a href="" class="active">不限</a>
						</div>
						<div class="search-row-content">

							<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="radio" value="0~100" name="date">
										100以下
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="radio" value="100~200" name="date">
										100-200
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="radio" value="200~300" name="date">
										200-300
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="radio" value="300~400" name="date">
										300-400
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="radio" value="400~500" name="date">
										400-500
									</label>
								</a>
							</span>
								<!-- 选项 -->
							<span class="search-row-item">
								<a href="">
									<label for="">
										<input type="radio" value="500~999999" name="date">
										500以上
									</label>
								</a>
							</span>
							<div class="custom-price-wrapper">
								<span class="custom-text">自定义</span>
								<input type="text">
								<em>-</em>
								<input type="text">

							</div>

						</div>
					</div>
				</div>

				<!-- 第五行  价格  E -->
					<!-- 中间的底部   S -->
	<div class="search-crumb">
		<span class="search-total-text">
			<span class="search-total">708</span>
			家酒店符合条件
		</span>
	</div>
	<!-- 中间的底部 E -->
	</div>

	</div>

	</div>



<!-- 中间的列表 E -->

<!-- 酒店列表  S -->

<div class="container clearfix g-content">
	<!-- 左边 -->
	<div class="content-view">
		
		<div class="main-view">
			<!-- 上面 top -->
			<div class="order-bar-placeholder">
				<div class="order-bar">
					<a href="" class="active">智能排序</a>
					<a href="">价格
						<i class="order-arrow"></i>
					</a>
					<a href="">好评优先</a>
					<a href="" >人气优先</a>
				</div>
			</div>

			<!-- 中间的酒店 S -->
			<div class="poi-results">
				<!-- 第一个酒店介绍  S -->
				<div class="poi-item">
					<div class="picture-wrapper">
						<img src="../images/mtjd/01.jpg" alt="">
					</div>
					<!-- 第一个酒店中间 -->
					<div class="info-wrapper">
						<!-- 标题 -->
						<h3 class="poi-title-wrapper">
							<a href="mtjd02.html" class="">
								<em class="location-icon">1</em>
								七天连锁酒店(宿迁泗洪五台山路店)
							</a>
						</h3>
						<!-- 标题下面那一部分 S-->
						<div class="colum-wrapper ">
							<div class="colum-1 ">
								<!-- 最左边的上面 -->
								<div class="poi-addres">
									<span>[泗洪]</span>
									泗洪县体育南路3-3号（原五台山南路）银河国际广场A02A03幢（东门）
									<a href="">查看地图</a>
								</div>
								<!-- 中间的图片和文字 -->
								<div class="service-icons">
									<span>
										<div>
											<img src="../images/mtjd/wifi.png" alt="" title="无线上网">
											<span>无线上网</span>
										</div>
										<div>
											<img src="../images/mtjd/diannao.png" alt="" title="有线上网">
											<span>有线上网</span>
										</div>
										<div>
											<img src="../images/mtjd/tingche.png" alt="" title="停车场">
											<span>停车场</span>
										</div>
										<div>
											<img src="../images/mtjd/jicun.png" alt="" title="行李寄存">
											<span>行李寄存</span>
										</div>
									</span>

								</div>
								<!-- 下面那个   订   的图像 -->
									<div class="poi-tag-row">
										<span class="poi-tag">
										订</span>

									</div>
							</div>

							<!-- 第二栏  column-2 -->
							<div class="colum-2 ">
								<div class="poi-grade">4.8
									<span class="small-size">
										分
										<span class="poi-grade-desc">很好</span>
									</span>
									<!-- 人消费 -->
									<div class="poi-grade-number">5000+人消费</div>
									<!-- 查看更多 -->
									<div class="poi-grade-commet">
										<a href="mtjd01.html">查看更多</a>
									</div>
								</div>
							</div>
							<div class="colum-3">
								<div class="poi-price">
									<span>¥</span>
									<em>109</em>
									起
								</div>
								<a href="mtjd01.html" id="show-detail">查看详情</a>
							</div>
						</div>
						<!-- 标题下面那一部分E -->
					</div>
				</div>
						<!-- 第一个酒店  E -->



							<!-- 第二个酒店介绍  S -->
				<div class="poi-item">
					<div class="picture-wrapper">
						<img src="../images/mtjd/02.jpg" alt="">
					</div>
					<!-- 第一个酒店中间 -->
					<div class="info-wrapper">
						<!-- 标题 -->
						<h3 class="poi-title-wrapper">
							<a href="mtjd01.html" class="">
								<em class="location-icon">2</em>
								锦江之星(宿迁泗阳客运站店)
							</a>
						</h3>
						<!-- 标题下面那一部分 S-->
						<div class="colum-wrapper ">
							<div class="colum-1 ">
								<!-- 最左边的上面 -->
								<div class="poi-addres">
									<span>[泗洪]</span>
									泗洪县体育南路3-3号（原五台山南路）银河国际广场A02A03幢（东门）
									<a href="">查看地图</a>
								</div>
								<!-- 中间的图片和文字 -->
								<div class="service-icons">
									<span>
										<div>
											<img src="../images/mtjd/wifi.png" alt="" title="无线上网">
											<span>无线上网</span>
										</div>
										<div>
											<img src="../images/mtjd/diannao.png" alt="" title="有线上网">
											<span>有线上网</span>
										</div>
										<div>
											<img src="../images/mtjd/tingche.png" alt="" title="停车场">
											<span>停车场</span>
										</div>
										<div>
											<img src="../images/mtjd/jicun.png" alt="" title="行李寄存">
											<span>行李寄存</span>
										</div>
									</span>

								</div>
								<!-- 下面那个   订   的图像 -->
									<div class="poi-tag-row">
										<span class="poi-tag">
										订</span>

									</div>
							</div>

							<!-- 第二栏  column-2 -->
							<div class="colum-2 ">
								<div class="poi-grade">4.8
									<span class="small-size">
										分
										<span class="poi-grade-desc">很好</span>
									</span>
									<!-- 人消费 -->
									<div class="poi-grade-number">5000+人消费</div>
									<!-- 查看更多 -->
									<div class="poi-grade-commet">
										<a href="mtjd02.html">查看更多</a>
									</div>
								</div>
							</div>
							<div class="colum-3">
								<div class="poi-price">
									<span>¥</span>
									<em>109</em>
									起
								</div>
								<a href="mtjd02.html" id="show-detail">查看详情</a>
							</div>
						</div>
						<!-- 标题下面那一部分E -->
					</div>
				</div>
						<!-- 第二个酒店  E -->








							<!-- 第三个酒店介绍  S -->
				<div class="poi-item">
					<div class="picture-wrapper">
						<img src="../images/mtjd/03.jpg" alt="">
					</div>
					<!-- 第一个酒店中间 -->
					<div class="info-wrapper">
						<!-- 标题 -->
						<h3 class="poi-title-wrapper">
							<a href="mtjd03.html" class="">
								<em class="location-icon">3</em>
								7天连锁酒店(宿迁千鸟园广场店)
							</a>
						</h3>
						<!-- 标题下面那一部分 S-->
						<div class="colum-wrapper ">
							<div class="colum-1 ">
								<!-- 最左边的上面 -->
								<div class="poi-addres">
									<span>[泗洪]</span>
									泗洪县体育南路3-3号（原五台山南路）银河国际广场A02A03幢（东门）
									<a href="">查看地图</a>
								</div>
								<!-- 中间的图片和文字 -->
								<div class="service-icons">
									<span>
										<div>
											<img src="../images/mtjd/wifi.png" alt="" title="无线上网">
											<span>无线上网</span>
										</div>
										<div>
											<img src="../images/mtjd/diannao.png" alt="" title="有线上网">
											<span>有线上网</span>
										</div>
										<div>
											<img src="../images/mtjd/tingche.png" alt="" title="停车场">
											<span>停车场</span>
										</div>
										<div>
											<img src="../images/mtjd/jicun.png" alt="" title="行李寄存">
											<span>行李寄存</span>
										</div>
									</span>

								</div>
								<!-- 下面那个   订   的图像 -->
									<div class="poi-tag-row">
										<span class="poi-tag">
										订</span>

									</div>
							</div>

							<!-- 第二栏  column-2 -->
							<div class="colum-2 ">
								<div class="poi-grade">4.8
									<span class="small-size">
										分
										<span class="poi-grade-desc">很好</span>
									</span>
									<!-- 人消费 -->
									<div class="poi-grade-number">5000+人消费</div>
									<!-- 查看更多 -->
									<div class="poi-grade-commet">
										<a href="mtjd03.html">查看更多</a>
									</div>
								</div>
							</div>
							<div class="colum-3">
								<div class="poi-price">
									<span>¥</span>
									<em>109</em>
									起
								</div>
								<a href="mtjd03.html" id="show-detail">查看详情</a>
							</div>
						</div>
						<!-- 标题下面那一部分E -->
					</div>
				</div>
						<!-- 第三个酒店  E -->










							<!-- 第四个酒店介绍  S -->
				<div class="poi-item">
					<div class="picture-wrapper">
						<img src="../images/mtjd/04.jpg" alt="">
					</div>
					<!-- 第一个酒店中间 -->
					<div class="info-wrapper">
						<!-- 标题 -->
						<h3 class="poi-title-wrapper">
							<a href="mtjd04.html" class="">
								<em class="location-icon">4</em>
								7天连锁酒店(宿迁泗阳汽车站店)
							</a>
						</h3>
						<!-- 标题下面那一部分 S-->
						<div class="colum-wrapper ">
							<div class="colum-1 ">
								<!-- 最左边的上面 -->
								<div class="poi-addres">
									<span>[泗洪]</span>
									泗洪县体育南路3-3号（原五台山南路）银河国际广场A02A03幢（东门）
									<a href="">查看地图</a>
								</div>
								<!-- 中间的图片和文字 -->
								<div class="service-icons">
									<span>
										<div>
											<img src="../images/mtjd/wifi.png" alt="" title="无线上网">
											<span>无线上网</span>
										</div>
										<div>
											<img src="../images/mtjd/diannao.png" alt="" title="有线上网">
											<span>有线上网</span>
										</div>
										<div>
											<img src="../images/mtjd/tingche.png" alt="" title="停车场">
											<span>停车场</span>
										</div>
										<div>
											<img src="../images/mtjd/jicun.png" alt="" title="行李寄存">
											<span>行李寄存</span>
										</div>
									</span>

								</div>
								<!-- 下面那个   订   的图像 -->
									<div class="poi-tag-row">
										<span class="poi-tag">
										订</span>

									</div>
							</div>

							<!-- 第二栏  column-2 -->
							<div class="colum-2 ">
								<div class="poi-grade">4.8
									<span class="small-size">
										分
										<span class="poi-grade-desc">很好</span>
									</span>
									<!-- 人消费 -->
									<div class="poi-grade-number">5000+人消费</div>
									<!-- 查看更多 -->
									<div class="poi-grade-commet">
										<a href="mtjd04.html">查看更多</a>
									</div>
								</div>
							</div>
							<div class="colum-3">
								<div class="poi-price">
									<span>¥</span>
									<em>109</em>
									起
								</div>
								<a href="mtjd04.html" id="show-detail">查看详情</a>
							</div>
						</div>
						<!-- 标题下面那一部分E -->
					</div>
				</div>
						<!-- 第四个酒店  E -->











							<!-- 第五个酒店介绍  S -->
				<div class="poi-item">
					<div class="picture-wrapper">
						<img src="../images/mtjd/05.jpg" alt="">
					</div>
					<!-- 第一个酒店中间 -->
					<div class="info-wrapper">
						<!-- 标题 -->
						<h3 class="poi-title-wrapper">
							<a href="mtjd05.html" class="">
								<em class="location-icon">5</em>
								渔歌子假日酒店
							</a>
						</h3>
						<!-- 标题下面那一部分 S-->
						<div class="colum-wrapper ">
							<div class="colum-1 ">
								<!-- 最左边的上面 -->
								<div class="poi-addres">
									<span>[泗洪]</span>
									泗洪县体育南路3-3号（原五台山南路）银河国际广场A02A03幢（东门）
									<a href="">查看地图</a>
								</div>
								<!-- 中间的图片和文字 -->
								<div class="service-icons">
									<span>
										<div>
											<img src="../images/mtjd/wifi.png" alt="" title="无线上网">
											<span>无线上网</span>
										</div>
										<div>
											<img src="../images/mtjd/diannao.png" alt="" title="有线上网">
											<span>有线上网</span>
										</div>
										<div>
											<img src="../images/mtjd/tingche.png" alt="" title="停车场">
											<span>停车场</span>
										</div>
										<div>
											<img src="../images/mtjd/jicun.png" alt="" title="行李寄存">
											<span>行李寄存</span>
										</div>
									</span>

								</div>
								<!-- 下面那个   订   的图像 -->
									<div class="poi-tag-row">
										<span class="poi-tag">
										订</span>

									</div>
							</div>

							<!-- 第二栏  column-2 -->
							<div class="colum-2 ">
								<div class="poi-grade">4.8
									<span class="small-size">
										分
										<span class="poi-grade-desc">很好</span>
									</span>
									<!-- 人消费 -->
									<div class="poi-grade-number">5000+人消费</div>
									<!-- 查看更多 -->
									<div class="poi-grade-commet">
										<a href="mtjd05.html">查看更多</a>
									</div>
								</div>
							</div>
							<div class="colum-3">
								<div class="poi-price">
									<span>¥</span>
									<em>109</em>
									起
								</div>
								<a href="mtjd05.html" id="show-detail">查看详情</a>
							</div>
						</div>
						<!-- 标题下面那一部分E -->
					</div>
				</div>
						<!-- 第五个酒店  E -->







									<!-- 第六个酒店介绍  S -->
				<div class="poi-item">
					<div class="picture-wrapper">
						<img src="../images/mtjd/01.jpg" alt="">
					</div>
					<!-- 第一个酒店中间 -->
					<div class="info-wrapper">
						<!-- 标题 -->
						<h3 class="poi-title-wrapper">
							<a href="mtjd06.html" class="">
								<em class="location-icon">6</em>
								如家快捷酒店(宿迁泗阳淮海东路名流新天地店)
							</a>
						</h3>
						<!-- 标题下面那一部分 S-->
						<div class="colum-wrapper ">
							<div class="colum-1 ">
								<!-- 最左边的上面 -->
								<div class="poi-addres">
									<span>[泗洪]</span>
									泗洪县体育南路3-3号（原五台山南路）银河国际广场A02A03幢（东门）
									<a href="">查看地图</a>
								</div>
								<!-- 中间的图片和文字 -->
								<div class="service-icons">
									<span>
										<div>
											<img src="../images/mtjd/wifi.png" alt="" title="无线上网">
											<span>无线上网</span>
										</div>
										<div>
											<img src="../images/mtjd/diannao.png" alt="" title="有线上网">
											<span>有线上网</span>
										</div>
										<div>
											<img src="../images/mtjd/tingche.png" alt="" title="停车场">
											<span>停车场</span>
										</div>
										<div>
											<img src="../images/mtjd/jicun.png" alt="" title="行李寄存">
											<span>行李寄存</span>
										</div>
									</span>

								</div>
								<!-- 下面那个   订   的图像 -->
									<div class="poi-tag-row">
										<span class="poi-tag">
										订</span>

									</div>
							</div>

							<!-- 第二栏  column-2 -->
							<div class="colum-2 ">
								<div class="poi-grade">4.8
									<span class="small-size">
										分
										<span class="poi-grade-desc">很好</span>
									</span>
									<!-- 人消费 -->
									<div class="poi-grade-number">5000+人消费</div>
									<!-- 查看更多 -->
									<div class="poi-grade-commet">
										<a href="mtjd06.html">查看更多</a>
									</div>
								</div>
							</div>
							<div class="colum-3">
								<div class="poi-price">
									<span>¥</span>
									<em>109</em>
									起
								</div>
								<a href="mtjd06.html" id="show-detail">查看详情</a>
							</div>
						</div>
						<!-- 标题下面那一部分E -->
					</div>
				</div>
						<!-- 第六个酒店  E -->







			</div>
				<!-- 中间的酒店  E -->

		</div>
	</div>







	<!-- 右边 S-->

<div class="right ">
</div>



	<!-- 右边 E -->
	<!-- 下面的圆圈   s -->

<div class="list-page-view">
	<div class="paginator-wrapper">
		<ul class="paginator">
			<li class="active">1</li>
			<li><a href="">2</a></li>
			<li><a href="">3</a></li>
			<li><a href="">4</a></li>
			<li><a href="">5</a></li>
			<li><a href="">6</a></li>
			<li><a href="">7</a></li>
			<span class="ellipsis">...</span>
			<li><a href="">36</a></li>
			<li><a href="">></a></li>
		</ul>
	</div>

</div>

<!-- 下面的圆圈   e -->
</div>
<!-- 酒店列表  E -->


	<!-- 底部开始 footer 部分 S -->
	<div class="footer"onclick="out()">
		<div class="container clearfix">
			<div class="fone">
				<dl>
					<dt>用户帮助</dt>
					<dd><a href="#">美团承诺</a></dd>
					<dd><a href="#">购物保障</a></dd>
					<dd><a href="#">申请退款</a></dd>
					<dd><a href="#">查看美团券密码</a></dd>
					<dd><a href="#">常见问题</a></dd>
					<dd><a href="#">用户协议</a></dd>
					<dd><a href="#">隐私政策</a></dd>
					<dd><a href="#">反诈骗公告</a></dd>
				</dl>
				<dl>
					<dt>美团服务</dt>
					<dd><a href="#">美团外卖</a></dd>
					<dd><a href="#">猫眼电影</a></dd>
					<dd><a href="#">美团云</a></dd>
					<dd><a href="#">大众点评</a></dd>
					<dd><a href="#">榛果民宿</a></dd>
				</dl>
			</div>
			<div class="ftwo">
				<dl>
					<dt>商家合作</dt>
					<dd><a href="#">美食商家入驻（非外卖）</a></dd>
					<dd><a href="#">外卖商家入驻</a></dd>
					<dd><a href="#">酒店商家入驻</a></dd>
					<dd><a href="#">境内度假商家入驻</a></dd>
					<dd><a href="#">综合商家入驻</a></dd>
					<dd><a href="#">榛果民宿房东商家入驻</a></dd>
					<dd><a href="#">点餐秒付合作申请</a></dd>
					<dd><a href="#">美团点评智能收银机</a></dd>
					<dd><a href="#">聚宝盆餐饮开放平台</a></dd>
					<dd><a href="#">美团智能支付</a></dd>
				</dl>
			</div>
		
			<div class="fthree">
				<dl>
					<dt>代理商加盟</a></dt>
					<dd><a href="#">到店餐饮代理商招募</a></dd>
					<dd><a href="#">非餐饮代理商招募</a></dd>
					<dd><a href="#">美团联盟</a></dd>
				</dl>
				<dl>
					<dt>行业规范</dt>
					<dd><a href="#">美团点评餐饮安全管理办法</a></dd>
				</dl>
				<dl>
					<dt>廉正举报</dt>
					<dd><a href="#">廉正邮箱</a></dd>
				</dl>
			</div>

			<div class="ffour">
				<dl>
					<dt>关注美团</dt>
					<dd><a href="#">美团新浪微博</a></dd>
				</dl>


				<dl>
					<dt>关于美团</dt>
					<dd><a href="#">媒体报道</a></dd>
				</dl>
				<dl>
					<dt>公司信息</dt>
					<dd><a href="#">加入我们</a></dd>
					<dd><a href="#">法律声明</a></dd>
					<dd><a href="#">商户服务协议</a></dd>
				</dl>	
			</div>		
			<div class="ffive">
				<p class="ftitle">客服电话</p>
				<p class="fphone">10107888</p>
				<p class="ftime">（9:00-23:00）</p>
			</div>
		</div>
	</div>
	<!-- 底部开始 footer 部分 E -->


	<!-- 底部版权开始 footer 部分 S -->
	<div class="footer-copy container "onclick="out()">
			<div class="fcopy-left">
				<p>©美团网团购 meituan.com <a href="#">京ICP证070791号</a><a href="#"> 京ICP备10211739号</a> <a href="#">电子公告服务规则</a></p>
				<p><a href="#">广播电视节目制作经营许可证（京）字第03889号</a></p>
			</div>
			<div class="fcopy-right">
				<p><a href="#">京公网安备11010502025545号</a></p>
			</div>
	</div>
	<!-- 底部版权开始 footer 部分 E -->
</body>
</html>