<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/shangjia.css">
	<title>商家入驻</title>
	<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/icon1.ico">
</head>
<body>
	<!-- 头部标签图 S -->
	<div class="header">
		<div class="headerimg">
			<a href="../index.html"><img src="../images/shangjia/logo-ed309953a2bd8ed10e4b0599bc0335b1.png" alt=""></a>
		</div>
	</div>
	<!-- 头部标签图 E -->

	<!-- 设置文字和图标 S -->
	<div class="container">
		<!-- 文字 -->
		<h2>请选择你的合作行业</h2>
		<!-- 设置图标 s -->
		<ul>
			<li>
				<a href="meishi.html"><img src="../images/shangjia/cp.bmp" alt=""></a>
				<div>
					<p class="ms">美食</p>
					<p class="wz">海量流量、精准营销、深度分析，助力您的餐厅销量口碑双丰收</p>
				</div>
			</li>
			<li>
				<a href="waimai.html"><img src="../images/shangjia/wm.bmp" alt=""></a>
				<div>
					<p class="ms">外卖</p>
					<p class="wz">美团外卖诚意邀请餐饮类、超市类、药品类商家入驻</p>
				</div>

			</li>
			<li>
				<a href="jiudian.html"><img src="../images/shangjia/jd.bmp" alt=""></a>
				<div>
					<p class="ms">酒店</p>
					<p class="wz">新美大双平台，轻松助力酒店实现销售、口碑双增长</p>
				</div>
			</li>
			<li>
				<a href="luyou.html"><img src="../images/shangjia/ly.bmp" alt=""></a>
				<div>
					<p class="ms">境内旅游</p>
					<p class="wz">海量流量、精准营销、深度分析，美团境内度假助您票量大买</p>
				</div>
			</li>
			<li>
				<a href="hezuo.html"><img src="../images/shangjia/qt.bmp" alt=""></a>
				<div>
					<p class="ms">其他</p>
					<p class="wz">坐拥双平台资源，携手点评管家一起赚钱口碑双增长</p>
				</div>
			</li>	
		</ul>
	</div>
	<!-- 设置图标 e -->
	<!-- 设置文字和图标 E -->


	
	<!-- 最后的超链接 S -->
	<div class="footer">
		<div class="one container">
			<a href="../index.html">关于美团</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="#">美团承诺</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="#">购物保障</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="#">媒体报道</a>&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="#">常见问题</a>&nbsp;&nbsp;&nbsp;
		</div>
		<div class="two container">
			<p>©2016 meituan.com京ICP证070791号</p>
		</div>
	</div>
	<!-- 最后的超链接 E -->
</body>
</html>