<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/waimai.css">
	<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/mtwm.ico">
	<title>美团外卖-开店申请_加入美团外卖_商家入驻</title>
</head>
<body>
<!-- 背景图片 S -->
	<div class="intro">
		<div class="intro1">
				<div class="logo">
					<a href="shangjia.html"><img src="../images/shangjia/wm_logo.png" alt=""></a>
					<span>美团外卖&nbsp;|</span>
					<span class="logozi"> 商家自入驻</span>
				</div>
				<h1>加入美团外卖，实现销量用户双增长</h1>
			<div class="bigbox clearfix">
				<div class="box container">
					  <p>骑手</p> 
					  <span class="zi">30万</span>
					  <div class="line"></div>
				</div>

				<div class="box">
					   <p>每日订单</p> 
					  <span class="zi">120万</span>
					  <div class="line"></div> 
				</div>
				<div class="box">
					  <p>累计用户</p> 
					  <span class="zi">2.0亿</span>
					  <div class="line"></div>
				</div>
			</div>
			<div class="jiaruimg">
				<a href=""><img src="../images/shangjia/jiaru.bmp" alt=""></a>
			</div>
	    </div>
    </div>
	</div>
	<!-- 背景图片 E -->
	<div class="title">
		<h2>
			<span class="ll">榜样</span><span>力量</span>
		</h2>
		<div class="titleimg">
			<div class="tupian">
		      <a href="#" class="shanghai">
		      	<img src="../images/shangjia/sh_h.png" alt=""></a>
		      <a href="#" class="beijing"">
		      	<img src="../images/shangjia/bj_g.png">
		      </a>
		      <a href="#" class="shenzhen">
		      	<img src="../images/shangjia/sz_h.png" alt="">
		      </a>
		      <a href="#" class="guangdong">
		      	<img src="../images/shangjia/gd_g.png" alt="">
		      </a>
	    		<a href="#" class="chengdu">
	    			<img src="../images/shangjia/cd_g.png" alt=""></a>
    		</div>
	    	<div class="shangpin">
				<div class="spimg">
					<img src="../images/shangjia/sz_1.jpg" alt="">
				</div>
				<div class="spimg">
					<img src="../images/shangjia/sz_2.jpg" alt="">
				</div>
				<div class="spimg">
					<img src="../images/shangjia/sz_3.jpg" alt="">
				</div>
				<div class="spimg">
					<img src="../images/shangjia/sz_4.jpg" alt="">
				</div>
				<div class="spimg">
					<img src="../images/shangjia/sz_5.jpg" alt="">
				</div>
				<div class="spimg">
					<img src="../images/shangjia/sz_6.jpg" alt="">
				</div>
				<div class="spimg">
					<img src="../images/shangjia/sz_7.jpg" alt="">
				</div>
				<div class="spimg">
					<img src="../images/shangjia/sz_8.jpg" alt="">
				</div>
				<div class="spimg">
					<img src="../images/shangjia/sz_9.jpg" alt="">
				</div>
				<div class="spimg">
					<img src="../images/shangjia/sz_10.jpg" alt="">
				</div>
				<div class="spimg">
					<img src="../images/shangjia/sz_11.jpg" alt="">
				</div>
				<div class="spimg">
					<img src="../images/shangjia/sz_12.jpg" alt="">
				</div>
			</div>
		</div>
			<!-- 步骤的盒子 S -->
			<div class="cont">
				<h2>
					<span class="green">极速</span>上线 
					<span class="green">开店</span>无忧
				</h2>
				<p>先上线，再补资料，四步完成全流程</p>
				<div class="steps container">
					<div class="steps1">
						<p class="p1">登陆</p>
						<img class=" stepsimg" src="../images/shangjia/1.png" alt="">
						<p class="p2">注册/登陆</p>
						<p class="p3">新用户注册账号、老用户直接登录</p>
					</div> 
					<div class="steps1">
						<p class="p1">提交审核</p>
						<img class=" stepsimg" src="../images/shangjia/2.png" alt="">
						<p class="p2">简单资料，极速上线</p>
						<p class="p3">提交审核简单资料，极速上线店铺信息、资质信息、收款信息、实名信息</p>
						
					</div>
					<div class="steps1">
						<p class="p1">开通上线</p>
						<img class=" stepsimg" src="../images/shangjia/3.png" alt="">
						<p class="p2">先开店上线，再补充资料</p>
						<p class="p3">配送范围、商品信息</p>
					</div>
					<div class="steps1">
						<p class="p1">完成入驻</p>
						<img class=" stepsimg" src="../images/shangjia/4.png" alt="">
						<p class="p2">恭喜成为新商家</p>
						<p class="p3">开启外卖赚钱之旅</p>
					</div>
				</div>
			</div>
			<!-- 步骤的盒子 E -->
	</div> 

			<!-- 问答盒子 S -->
	<div class="wenda">
		<div class="wdbox">
			<h2><span class="wd1">问</span>答</h2>
		</div>
		<div class="wdwz">
			<h3>加入美团外卖需要什么条件？</h3>
			<p class="wz1">餐饮类商家必须双证齐全（营业执照和许可证），三证合一商家提供单证即可；部分商家可用有效特许证件代替。具体信息在入驻过程中根据页面引导操作</p>
		</div>
		<div class="wdwz">
			<h3>做外卖的话，我需要自己单独招聘配送员工吗？</h3>
			<p class="wz1">
			美团外卖提供专业的专送、快送、众包、混合送等一系列配送能力，可满足商家各场景下的配送需求；如果商家具备配送能力，也可以选择自己配送。</p>
		</div>
		<div class="wdwz">
			<h3>加入美团外卖如何收费？</h3>
			<p class="wz1">
			不同区域、不同配送服务的收费标准均不同；具体细则在提交成功后会有业务人员与您具体沟通。</p>
		</div>
	</div>
			<!-- 问答盒子 E -->

			<!-- 底部 footer S -->
	<div class="footer">
		<h2>
			<span class="green">等你</span>加入 
		</h2>
		<p>加入美团外卖平台，全国百万餐厅的共同选择</p>
		<a href=""><img class="footerimg" src="../images/shangjia/jiaru.bmp" alt=""></a>
	</div>
		<!-- 底部 footer E -->


</body>
</html>