<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>森罗——感恩，我有话讲</title>
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/gecxb.css">
</head>
<body>
	<audio src="images/molihua.mp3" autoplay="taue"></audio>
	<!-- 头部标签图 S -->
	<div class="header container clearfix">
		<div class="headerimg">
			<a href="../content/ganenjie.html"><img src="images/logo.png" alt="">	
			</a>
		</div>
		<p>感恩节——曹晓波</p>
	</div>
	<!-- 头部标签图 E -->

<!-- 中间正文 S -->
<div class="new container">
	<div class="text container">
			<h3>父爱如山，母爱如水。行如孤舟，片刻不离。</h3>

			<span>
				<p>华夏感恩的美德是由来已久，自古传承的，说到感恩一句句佳话不由浮现脑海：“滴水之恩涌泉相报”“救命之恩，无以为报只有以身相许”......</p>
				<p>但最让人揪心的一句依旧是：“谁言寸草心，报得三春晖？”</p>
				<p>父母之恩，细想下沉重的让人喘不过气，但他们却又从来没有让你真的感觉到沉重过，这是如何的爱呢？</p>
				<p>值此佳节我想说一句平时千百次到了喉间却又没有说出来的话</p>
				<h3>“这些年来，您辛苦了，该歇歇让我来了，爱我的你们，我更爱你们。”</h3>
		</span>
	</div>
</div>

<!-- 中间正文 E -->

	<!-- 最后的超链接 S -->
	<div class="footer clearfix">
		<div class="one ">
			<a href="#">关于美团</a>&nbsp;&nbsp;|
			<a href="#">美团承诺</a>&nbsp;&nbsp;|
			<a href="#">购物保障</a>&nbsp;&nbsp;|
			<a href="#">媒体报道</a>&nbsp;&nbsp;|
			<a href="#">常见问题</a>&nbsp;&nbsp;
		</div>
		<p>©2016 meituan.com京ICP证070791号</p>
	</div>
	<!-- 最后的超链接 E -->
</body>
</html>