<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>感恩节——王景笑</title>
	<!-- 引入外部样式	通用common.css -->
	<link rel="stylesheet" href="css/wjx.css">
					<!-- 引入网页头部ico图标 -->
	<link rel="shortcut icon" href="../images/icon1.ico">
</head>
<body>
		<!-- 第一个大盒子 -->
		<!-- 图片 S -->
		<div class="box">

		</div>
		<div class="box1">
			<div class="one">
				
			</div>
			<div class="two">
				
			</div>
			<div class="three">
				
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="news">
			<p>
				感恩是发自内心的。俗话说“滴水之恩，当涌泉相报。”更何况父母，亲友为你付出的不仅仅是“一滴水”，而是一片汪洋大海。是否你在父母劳累后递上一杯暖茶，在他们生日时递上一张卡片，在他们失落时奉上一番问候与安慰，他们往往为我们倾注了心血、精力，而我们又何曾记得他们的生日，体会他们的劳累，又是否察觉到那缕缕银丝，那一丝丝皱纹。感恩需要你用心去体会，去报答。
			</p>
			<p>
				我永远不会忘记父母对我的爱，对我的呵护和关怀。我能为他们做些什么？我常常这样问自己。哪怕是为他们垂垂肩，洗洗碗，给他们唱段曲儿，陪他们逛逛街，散散步，我也会感到心里的安慰。学会感恩,学会报答,我仿佛一下子长大了:我用心学习，不让他们为我的操心；我抢着洗碗拣菜，让他们能多休息一会儿；我经常哼哼小曲,让家庭充满欢声笑语……我尽我所能给父母留下最难忘的美好时光，让他们开心,让他们骄傲,

			</p>	
			<p>
				爸妈你们辛苦啦！你们的大儿子长大啦，不是以前的小孩啦，我也会变得懂事再也不用你们担心啦，我会让你们为我感到骄傲！
			</p>
		</div>
		<!-- 图片 E -->

</body>
</html>