<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册&nbsp;|&nbsp;美团</title>
	<!-- 引入外部样式	通用common.css -->
	<link rel="stylesheet" href="../../statics/css/common.css">
	<!-- 引入外部样式	清除reset.css -->
	<link rel="stylesheet" href="../../statics/css/reset.css">
	<!-- 引入外部样式	注册zc.css -->
	<link rel="stylesheet" href="../../statics/css/zc.css">
	<!-- 引入网页ico图标 -->
	<link rel="shortcut icon" href="../../statics/images/icon.ico">
	<style>
		body {
			background-color: #fff;
		}
		.container {
			width: 980px;
			margin:0 auto;
		}
		.zhongjian {
			padding:50px;
			padding-left:150px;
		}
	</style>
	<script>
		function weihu() {
			window.alert("系统维护中,请稍后访问")
		}
	</script>
</head>
<body>
	<!-- 顶部 S-->
	<div class="zctop ">
		<div class="container">
		<!-- 左边 -->
			<a href="../index.html">
			<div class="left">
		
			</div>
			</a>
			<!-- 右边 -->
			<div class="right">
				<span>已有美团账号？</span>
				<a href="/index/login">登陆</a>
			</div>
		</div>
	</div>
	<!-- 顶部 E-->
	<div class="zhongjian container">
		手机号&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" class="diyi"><br>
		<input type="submit" value="免费获取短信动态码" class="dier"><br>
		短信动态码 <input type="password" class="disan"><br>
		创建密码 <input type="password" class="disi">
		<div class="sankuai"><br>
			<p>低</p>
			<p>中</p>
			<p>高</p>
		</div>
		确认密码 <input type="password" class="diwu"><br>
		<a href="../index.html"><input type="submit" value="同意以下协议并注册" class="diliu" onclick="weihu()"></a><br><br>
		<div class="zuihou">
		<a href="#">《美团网用户协议》</a>
		</div>
	</div>

	<!-- 底部 S -->
	<div class="footer">
		<p><a href="#">©meituan.com</a>&nbsp;&nbsp;  <a href="#">京ICP证070791号</a> &nbsp;&nbsp; 京公网安备11010502025545号</p>
	</div>
	<!-- 底部 E -->
</body>
</html>