/*重新定义meishi的页面字体颜色 字号*/
body {
	color: #333;
	font-family: "微软雅黑";
	background-color: #fff;
}
/*定义超链接的颜色*/
a {
	color: #333;
}
/*重新定义鼠标放上去的显示的颜色*/
a:hover {
	color: #0047ff;
}
body,div,p,h1,h2,h3,h4,h5,h6,ul,li,tr,td {
	padding:0px;
	margin:0px;
}
.container {
	width: 1340px;
	margin: 0px auto;
} 

.helper a{
	color:#fff;
	font-weight:normal;
	font-size: 35px;
	text-decoration: none;
	text-align: center;
	line-height: 45px;
}
/*头部 S*/
/*头部标签图 S*/
.header1 {
	width: 1340px;
	height: 100px;
	background-color:#fff;
}
.header1 .headerimg {
	width: 980px;
	height: 100%;
	margin: 0px auto;
}
.header1 .headerimg img {
	   vertical-align: middle;
}
.header1 p {
	vertical-align: middle;
	display: inline-block;
	height: 20px;
	background-color: #fff;
	color: #ccc;
	float:right;
	font-size: 37px;
    font-family: '华文行楷';
    margin-top: 21px;

}
/*头部标签图 E*/


.header {
	width: 100%;
	height: 200px;
	background-color: #fff;
	margin:20px 15px;
}
.header .hdimg{
	height: 150px;
	width: 600px;
	margin-left: 340px;
	margin-bottom: 50px;
}
.header .hdimg1 {
	width: 150px;
	height: 100px;
	float: right;
}
.header .hdimg2 {
	width: 150px;
	height: 100px;
	float: left;
}

.one {
	margin:0 auto;
	margin-top: 50px;
	width: 1340px;
	height: 800px;
	background: url(../images/cb8065380cd79123e3804a59a6345982b2b780bf.jpg) no-repeat center center;
}
.one .two {
	width: 800px;
	height: 200px;
	text-align: center;
	font-size: 18px;
	line-height: 1.5em;
	font-weight: 600;
}
.one .two img {
	width: 200px;
	height: 200px;
}
/*最后的超链接 S */
.footer {
	margin:0 auto;
	width: 1340px;
	height:20px;
	background-color: #fff;
	margin-top:30px;
}
.footer .oo {
	width: 1340px;
	height: 100%;
	text-align: center;
}
.footer .oo a {
	text-decoration: none;
	color:#3dc6b6;
	font-size: 12px;
	
}
.footer a:hover {
	text-decoration: underline;
}
.footer .ll{
	font-size: 12px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
/*最后的超链接 E 
