/*页面默认字体、背景*/
body {
	background-color: #f8f8f8;
	font-family: '华文行楷;
}
/*设置超链接默认样式*/
a {
	color:#666;
	text-decoration: none;
}
a:hover {
	color:#31BBAC;
}
/*===========================*/


* {
	padding: 0px;
	margin: 0px;
}
/*居中盒子*/
.container {
	width: 1190px;
	height:100%;
	margin:0px auto;
}


/*双清 清除浮动*/
.clearfix:before,.clearfix:after {
 	content:".";
 	height:0px;
 	line-height: 0px;
 	display: block;
 	visibility: hidden;
 	clear:both;
}
/*双清兼容IE7*/
.clearfix {
	*zoom: 1;
}

/*布局常用颜色*/
.color-red {
	background-color: red;
	height: 100%;
}
.color-pink {
	background-color: pink;
	height: 100%;
}
.color-green {
	background-color:#0f0;
	height: 100%;
}
.color-skyblue {
	background-color: skyblue;
	height: 100%;
}
.color-yellow {
	background-color: yellow;
	height: 100%;
}


ul {
	padding-left: 0;
    margin: 0;
}
li {
	list-style: none;
}




.nov {
	    height: 60px;
    background: rgba(166, 205, 239, 0.65);
   
    width: 100%;
}
.btn-top {
	text-align: center;
    width: 330px;
}
.nov ul {
	width: 100%;
    height: 60px;
    margin: 0 auto;
}
.nov li {
	    float: left;
    height: 60px;
}
.nov a {
	float: left;
    position: relative;
    height: 60px;
    overflow: hidden;
    font-size: 14px;
    color: #Fff;
    text-decoration: none;
    cursor: pointer;
}

.active span {
	background: rgba(37, 183, 226, 0.48);
    color: #fff;
    border-bottom: 5px solid #FFF;
    clear: both;
    width: 100px;
      float: left;
    padding: 0 0px;
    height: 60px;
    line-height: 60px;
 }
 .nov .c1 span {
 	  float: left;
    padding: 0 0px;
    height: 60px;
    line-height: 60px;
    background: rgba(142, 185, 222, 0.65);
    clear: both;
    width: 100px;
 }
 .right {
 	float: right;
 	position: relative;
 	right: 0px;
 	top: -43px;
 	margin-right: 20px;
 }
  .right a {
  	color: #999;
  }
  .focus {
  	margin-top: 200px;
  	
  }




.deal{
  width: 100%;
  height:835px;
  background:url("../images/ganen/bg.png") no-repeat;
  background-size: 100%;
}
.deal .left {
  float: left;
  width: 500px;
  height: 440px;
  margin-top: 50px;
  font-size: 20px;
  margin-left: 40px;
}
h4 {
    display: inline-block;
    padding-left: 42%;
}